// Variables
@import "variables/breakpoints.scss";
@import "variables/colors";
@import "variables/sizing";
@import "variables/animations";

// SASS Directives
@import "directives/accents";
@import "directives/accordion";
@import "directives/aspect_ratio";
@import "directives/boxes";
@import "directives/button";
@import "directives/carousels";
@import "directives/clearfix";
@import "directives/ellipsis";
@import "directives/flashes";
@import "directives/flyout";
@import "directives/gradients";
@import "directives/groups";
@import "directives/headers";
@import "directives/link";
@import "directives/media";
@import "directives/modals";
@import "directives/sections";
@import "directives/speech_bubble";
@import "directives/tables";
@import "directives/tooltips";
@import "directives/visibility";
@import "directives/z_index";

@import "typography";
@import "buttons";

@import "content_grids";
@import "cta";
@import "forms";
@import "read_more";
@import "tables";

.employer-scope {
  // Reset
  // @import 'reset';

  // Typography and Elements
  @include font-feature-settings("kern", "liga", "frac", "pnum");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $base-background-color;
  color: $body-text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $font-weight-normal;

  // @import "lists";
}
