// TODO Determine any styles to keep and reactivate
// input,
// label,
// select {
//   display: block;
// }
//
// label {
//   margin-bottom: $base-spacing / 4;
//   font-weight: $font-weight-bold;
//
//   &.required:after {
//     // TODO: Make this an icon on an input field, instead
//     content: "*";
//   }
//
//   abbr {
//     display: none;
//   }
// }
//
// textarea,
// #{$all-text-inputs},
// select[multiple=multiple] {
//   @include box-sizing(border-box);
//   @include transition(border-color);
//   background-color: white;
//   border-radius: $form-border-radius;
//   border: $base-input-border-size solid $form-border-color;
//   box-shadow: $form-box-shadow;
//   font-family: $form-font-family;
//   font-size: $form-input-font-size;
//   line-height: $base-input-line-height;
//   padding: $base-input-vertical-padding $base-input-horizontal-padding;
//   margin-bottom: 3px; // Just enough margin to expose the 'glow'
//
//   &:hover {
//     border-color: $form-border-color-hover;
//   }
//
//   &:focus {
//     border-color: $form-border-color-focus;
//     box-shadow: $form-box-shadow-focus;
//     outline: none;
//   }
// }
//
// textarea {
//   resize: vertical;
// }
//
// input[type="radio"] {
//   @extend %visuallyHidden;
// }
//
// input[type="radio"] + label {
//   position: relative;
//
//   &:before {
//     left: 0;
//     top: 0;
//     content: " ";
//     background-color: white;
//     box-shadow: $base-radio-box-shadow;
//     padding: $base-font-size;
//     margin-right: $base-spacing / 4;
//     border-radius: $radio-border-radius;
//     float: left;
//     display: inline-block;
//     position: relative;
//   }
// }
//
// input[type="radio"]:hover + label {
//   &:before {
//     box-shadow: $hover-radio-box-shadow;
//     @include transition(box-shadow 0.5s linear);
//   }
// }
//
// input[type="radio"]:checked + label {
//   &:before {
//     box-shadow: $checked-radio-box-shadow;
//   }
// }
//
// input[type="radio"]:active + label {
//   &:before {
//     box-shadow: $active-radio-box-shadow;
//   }
// }
//
// select {
//   margin-bottom: $base-spacing;
//   max-width: 100%;
//   width: auto;
// }
//
// .form-header {
//   color: $header-text-color;
//   display: block;
//   font-weight: bold;
//   margin-bottom: $base-spacing / 4;
// }
//
// div.group {
//   overflow: auto; // Push height even when form elements float
//   margin-top: $base-spacing / 2;
// }
//
// table {
//   @include font-feature-settings("kern", "liga", "tnum");
// }

// Forms Type Styles
$form-font-family: $base-font-family;
$form-label-font-weight: $font-weight-bold;
$form-input-font-weight: $font-weight-regular;

// Forms
$form-border-color: $grey-light;
$form-border: 1px solid $form-border-color;
$form-border-color-hover: darken($base-border-primary-color, 10);
$form-border-color-focus: $alert-primary;

$form-background-color: white;
$form-input-color: $text-color-grey;
$form-placeholder-color: $grey-light;



// Input Sizes
$form-input-font-size: $base-font-size;

$form-input-vertical-padding: $form-input-font-size * 0.6;
$form-input-horizontal-padding: $form-input-font-size * 1.25;
$base-input-border-size: 1px;
$base-input-line-height: $base-line-height;

$large-input-width: 100%;

$medium-input-font-size: $form-input-font-size;
$medium-input-vertical-padding: $form-input-vertical-padding;
$medium-input-horizontal-padding: $form-input-horizontal-padding;

$small-input-font-size: $form-input-font-size * 0.875;
$small-input-vertical-padding: $form-input-font-size * 0.438;
$small-input-horizontal-padding: $form-input-font-size * 0.625;

$large-input-font-size: $form-input-font-size * 1.5;
$large-input-vertical-padding: $form-input-font-size * 0.625;
$large-input-horizontal-padding: $form-input-font-size * 0.938;

// Forms
$form-border-radius: $minor-border-radius;
$form-fieldset-margin: 10px;
$form-box-shadow: inset 0 1px 3px rgba(black, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);


// Form Elements
$base-radio-box-shadow: 0 0 0 1px $grey-light inset, 0 0 0 9px white inset, 0 0 0 10px $grey-light inset;
$hover-radio-box-shadow: 0 0 0 1px $alert-primary-active inset, 0 0 0 9px white inset, 0 0 0 16px $alert-primary-active inset;
$checked-radio-box-shadow: 0 0 0 1px $grey-light inset, 0 0 0 9px white inset, 0 0 0 16px $alert-primary inset;
$active-radio-box-shadow: 0 0 0 8px $alert-primary-active inset, 0 0 0 16px white inset;

fieldset { // #pardot-form p
  display: block;
  margin-bottom: $form-fieldset-margin;
  border: 0;
}

label {
  margin: 0;
  font-weight: $form-label-font-weight;
}

form h2,
form p {
  margin-bottom: $base-margin;
}

#{$all-text-inputs},
select,
.select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: $base-margin;
  border: $form-border;
  border-radius: $form-border-radius;
  padding: $form-input-vertical-padding $form-input-horizontal-padding;
  box-shadow: $form-input-box-shadow;
  background-color: $form-background-color;
  color: $form-input-color;
  font-family: $form-font-family;
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  cursor: pointer;

  @include placeholder {
    color: $form-placeholder-color;
    font-style: normal;
  }
}

$select-arrow-width: 3em;

.select {
  @include transition($base-transition);
  user-select: none;
  position: relative;
  text-align: right;
  outline: 0;
  padding-right: 0;

  .current {
    margin-right: calc(#{$select-arrow-width} + #{$form-input-horizontal-padding});
  }

  &.open ul {
    opacity: 1;
    pointer-events: auto;
    @include transform(scale(1) translateY(1px));
    width: 100%;
    box-shadow: $form-input-box-shadow;
    box-sizing: border-box;
  }

  ul {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    @include transform-origin(50% 0);
    @include transform(scale(0.75) translateY(-21px));
    @include transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out);
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    max-height: 47.25vh;
    overflow-y: scroll;
    border: 1px solid $sky-blue;
    border-top: 0;


    li {
      list-style-type: none;
      padding: $form-input-vertical-padding $form-input-horizontal-padding;
      padding-right: calc(#{$select-arrow-width} + #{$form-input-horizontal-padding});
    }

    li:last-child {
      border-bottom: 1px solid $sky-blue;
    }

    li:hover,
    li:focus,
    li.focus
    li.selected:focus,
    li.selected.focus {
      background-color: $sky-blue;
      color: white;
    }
  }
}

input[type='submit'],
form button {
  width: 100%;
}

// Autocomplete Dropdown

@mixin autocomplete-dropdown {
  position: relative;

  input[type="search"] {
    margin-bottom: 0;
  }

  input[type="search"]:focus {
    border: 1px solid $sky-blue;
    outline: 0;
  }

  ul {
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1;
  }

  li {
    list-style-type: none;
    border-left: 1px solid $sky-blue;
    border-right: 1px solid $sky-blue;
  }

  .eac-item {
    padding: $form-input-vertical-padding $form-input-horizontal-padding;
  }

  li:last-child {
    border-bottom: 1px solid $sky-blue;
  }

  li:hover {
    background-color: $sky-blue;
    color: white;
  }
}

// Full-width field

.fieldset--large {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include align-items(stretch);

  & #{$all-text-inputs},
  & select,
  & .select {
    @include flex-grow(1);
    @include flex-shrink(1);
    @include flex-basis(auto);
    width: 100%;
    margin-bottom: 0;

    @media only screen and (min-width: $small-screen-max) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__button.button {
    box-shadow: $form-input-box-shadow;
    width: auto;
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(auto);

    @media only screen and (min-width: $small-screen-max) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media only screen and (max-width: $small-screen-max) {
      min-width: 50%;
      margin-top: $base-margin;
    }
  }

  @media only screen and (max-width: $small-screen-max) {
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include align-items(flex-start);
  }
}
