@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);

// Typography
$lato: Lato, 'Lato', Helvetica, Arial, sans-serif;

// Typefaces
$base-font-family: $lato;
$header-font-family: $lato;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Headers
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
  line-height: $header-line-height;
  font-weight: $font-weight-bold;
  color: $header-text-color;
  text-decoration: none;
  margin: 0;
  margin-bottom: $type-margin;
}

h1,
.text--headline-1 {
  font-size: $h1-font-size;
}

h2,
.text--headline-2 {
  font-size: $h2-font-size;
}

h3,
.text--headline-3 {
  font-size: $h3-font-size;
}

h4,
.text--headline-4 {
  font-size: $h4-font-size;
}

h5,
.text--headline-5 {
  font-size: $h5-font-size;
}

h6,
.text--headline-6 {
  font-size: $h6-font-size;
}

p {
  font-size: $body-font-size;
  margin-bottom: $type-margin;
  line-height: $base-line-height;

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  @extend %link;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

ul.list--body {
  margin-left: 20px;
}

blockquote {
  border-left: 2px solid $base-border-primary-color;
  color: lighten($body-text-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($body-text-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}

// UX Style guide does not specify these styles, but this class is also not currently in use. Consult with UX if using.
.text--caption {
  font-weight: $font-weight-normal;
  font-size: $caption-font-size;
  line-height: $base-line-height;
}

.text--details {
  font-weight: $font-weight-normal;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

.light {
  font-weight: $font-weight-light;
}

.heavy {
  font-weight: $font-weight-bold;
}

// Forms
$form-font-family: $base-font-family;
$form-label-font-weight: $font-weight-bold;
$form-input-font-weight: $font-weight-normal;

.screen-reader-only { // http://webaim.org/techniques/css/invisiblecontent/#absolutepositioning
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
