@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);

// Typography
$lato: Lato, 'Lato', Helvetica, Arial, sans-serif;

$base-font-family: $lato;
$header-font-family: $lato;
$form-font-family: $base-font-family;

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $header-text-color;
  font-family: $header-font-family;
  line-height: $header-line-height;
  margin: 0;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

p {
  margin: 0 0 ($base-spacing / 2);
}

a {
  @extend %link;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  border-left: 2px solid $base-border-primary-color;
  color: lighten($body-text-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($body-text-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}
