@import url(https://fonts.googleapis.com/css?family=Lato:300,400,400i,700);

// Typography
$lato: Lato, 'Lato', Helvetica, Arial, sans-serif;

// Typefaces
$base-font-family: $lato;
$header-font-family: $lato;

// Font Weights
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Font Sizes - Standard
$body-font-size: 0.9375rem; // 15px

// Font Sizes - One Offs
$large-header-text: $base-font-size * 8; // 128px
$large-header-text--mobile: $base-font-size * 4; //64px

// $hero-text-size: strip-units($h2-font-size) * 1rem; // 22px
// $small-font-size: 13px;
// $tiny-font-size: 11px;
// $subhead-font-size: $base-font-size * 1.5; // 24px
// $caption-font-size: $small-font-size;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Type Spacing
$type-margin: 20px;
$type-margin--small: 12px;

$type-indent: 2em;

// text-decoration: none;

// p {
//   font-size: $body-font-size;
//   margin-bottom: $type-margin;
//   line-height: $base-line-height;
//
//   &:last-child {
//     margin-bottom: 0;
//   }
// }

a {
  @extend %link;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

ul.list--body {
  margin-left: 20px;
}

blockquote {
  border-left: 2px solid $base-border-primary-color;
  color: lighten($body-text-color, 15);
  margin: $base-spacing 0;
  padding-left: $base-spacing / 2;
}

cite {
  color: lighten($body-text-color, 25);
  font-style: italic;

  &:before {
    content: "\2014 \00A0";
  }
}

// // UX Style guide does not specify these styles, but this class is also not currently in use. Consult with UX if using.
// .text--caption {
//   font-weight: $font-weight-normal;
//   font-size: $caption-font-size;
//   line-height: $base-line-height;
// }
//
// .text--details {
//   font-weight: $font-weight-normal;
//   font-size: $base-font-size;
//   line-height: $base-line-height;
// }
//
// .light {
//   font-weight: $font-weight-light;
// }
//
// .heavy {
//   font-weight: $font-weight-bold;
// }


.screen-reader-only { // http://webaim.org/techniques/css/invisiblecontent/#absolutepositioning
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
