// Type Styles
@mixin font-style--xxl-light { // Style 1: hero headers
  font-size: $font-size-xxl;
  font-weight: $font-weight-light;
}

@mixin font-style--xxl-bold { // Style 1 (bold): hero headers
  font-size: $font-size-xxl;
  font-weight: $font-weight-bold;
}

@mixin font-style--xl-light {  // Style 2: section headers and subheaders
  font-size: $font-size-xl-base;
  font-weight: $font-weight-light;
}

@mixin font-style--xl-bold {  // Style 2 (bold): section headers and subheaders
  font-size: $font-size-xl-base;
  font-weight: $font-weight-bold;
}

@mixin font-style-xl-bold-responsive {
  letter-spacing: $letter-spacing-small;
  font-size: $font-size-27;
  font-weight: $font-weight-bold;
  
  @media only screen and (min-width: $medium-screen-min) {
    font-size: $font-size-xl-base;
  }
}

@mixin font-style--large-regular {  // Style 3: hero subheaders
  font-size: $font-size-large;
  font-weight: $font-weight-regular;
}

@mixin font-style--large-bold {  // Style 3 (bold): hero subheaders
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
}

@mixin font-style--med-bold-uppercase { // Style 4: section headers, buttons
  font-size: $font-size-med;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

@mixin font-style--med-bold { // Style 4 (capitalize): section headers, buttons
  font-size: $font-size-med;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
}

@mixin font-style--small-bold-uppercase { // Style 5: navigation, labels
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

@mixin font-style--small-bold { // Style 6: nav dropdowns, pagination
  font-size: $font-size-small;
  font-weight: $font-weight-bold;
}

@mixin font-style--med-regular { // Style 7: body copy
  font-size: $font-size-med;
  font-weight: $font-weight-regular;
}

@mixin font-style--smallest-regular { // Style 8: table captions, other table elements
  font-size: $font-size-smallest;
  font-weight: $font-weight-regular;
}

@mixin font-style-med-small-bold {
  font-weight: $font-weight-bold;
  font-size: $font-size-med-small;
}

@mixin base-body-copy {
  @include font-style--med-regular;
  line-height: $base-line-height;
}

@mixin base-heading-copy {
  color: $header-text-color-dark;
  line-height: $header-line-height;
  text-decoration: none;
  margin-bottom: $type-margin;
}

@mixin link {
  color: $base-link-color;
  text-decoration: none;
  font-weight: $font-weight-bold;
  cursor: pointer;

  &:hover,
  &:focus,
  &:active {
    text-decoration: underline;
  }

  &:visited {
    color: $visited-link-color;
  }

  &:active, &:focus {
    outline: none;
  }
}
