// Typefaces
@import url(https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i);

@font-face {
  font-family: Barlow;
  src: url(asset_path('cb_global/fonts/Barlow/Barlow-Regular.ttf'));
}

@font-face {
  font-family: Barlow;
  src: url(asset_path('cb_global/fonts/Barlow/Barlow-Bold.ttf'));
  font-weight: bold;
}

@font-face {
  font-family: Barlow;
  src: url(asset_path('cb_global/fonts/Barlow/Barlow-Light.ttf'));
  font-weight: lighter;
}

@font-face {
  font-family: Barlow;
  src: url(asset_path('cb_global/fonts/Barlow/Barlow-Italic.ttf'));
  font-style: italic;
}

@font-face {
  font-family: Roboto;
  src: url(asset_path('cb_global/fonts/Roboto/Roboto-Regular.ttf'));
}

@font-face {
  font-family: Roboto;
  src: url(asset_path('cb_global/fonts/Roboto/Roboto-Bold.ttf'));
  font-weight: bold;
}

@font-face {
  font-family: Roboto;
  src: url(asset_path('cb_global/fonts/Roboto/Roboto-Italic.ttf'));
  font-style: italic;
}

$barlow: Barlow, Arial, sans-serif;
$roboto: Roboto, Arial, sans-serif;

$lato: Lato, 'Lato', Helvetica, Arial, sans-serif;

$base-font-family: $roboto;
$header-font-family: $barlow;
$link-font-family: $barlow;

// Font Sizes - Standard
//$font-size-xxl: 2.75rem; // 44px
$font-size-xl-base: 2rem;
//$font-size-xl: 1.875rem; // 30px
$font-size-large: 1.375rem; // 22px
$font-size-med-large: 1.25rem;
$font-size-med-small: 1.2rem;
$font-size-med: 0.95rem; // 15px
$font-size-small: 0.8125rem; // 13px
$font-size-smallest: 0.6875rem; // 11px
$font-size-base: 1rem;
$font-size-27: 1.7rem;
$font-size-24: 1.5rem;

$font-size-xxl: 60px;
$font-size-xl: 40px;
$font-size--medium: 16px;
$font-size--base: 14px;
$font-size--small: 12px;
$font-size--x-small:10px;

// Font Sizes - Non-Standard
  // NOTE: Use namespacing so usage is clear.
  // Not for reuse unless a new pattern has emerged
$error-page__large-header-text: $base-font-size * 8; // 128px
$error-page__large-header-text--mobile: $base-font-size * 4; //64px

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Text Colors
$text-color-dark: $anchor-blue; // typically used on non-white backgrounds
$text-color-grey: $grey-demon; // default text color. used on white backgrounds
$text-color-grey-light: $grey-dark; // toggle-switch tabs

$header-text-color-light: white; // typically used on blue/gradient backgrounds
$header-text-color-dark: $text-color-dark;
$hero-text-color-light: white; // typically used on blue/gradient backgrounds
$hero-text-color-dark: $anchor-blue;

$base-accent-color: $emerald;  // TODO check whether this is still in use. Used on .text--accent > used on email modal > not in use?
$text-highlight: $lime-dark; // price/discount elements

// Text Colors - Links
$base-link-color: $dark-normal;
$hover-link-color: $dark-normal;
$visited-link-color: $purple;

// Line height
$base-line-height: 1.5;
$header-line-height: 1.25;

// Type Spacing
$type-margin-super: 80px;
$type-margin-xlarge: 40px;
$type-margin-large: 28px; // hero headers
$type-margin-medium: 25px;
$type-margin: 20px;
$type-margin--small: 12px; // used with headers/fonts font-size-med and smaller

$type-indent: 2em;
$letter-spacing-small: 1px;
