<p class="font-style--xxl-light">Type Style 1</p>
<i>Used for hero headers</i>

<p class="font-style--xl-light">Type  Style 2</p>
<i>Used for section headers and subheaders</i>

<p class="font-style--large-regular">Type  Style 3</p>
<i>Used for hero subheaders</i>

<p class="font-style--med-bold-uppercase">Type Style 4</p>
<i>Used for section headers, buttons</i>

<p class="font-style--small-bold-uppercase">Type Style 5</p>
<i>Used for navigation, labels</i>

<p class="font-style--small-bold">Type Style 6</p>
<i>Used for nav dropdowns</i>

<p class="font-style--med-regular">Type Style 7</p>
<i>Used for body copy</i>

<p class="font-style--smallest-regular">Type Style 8</p>
<i>Used for table captions, other table elements</i>

<br><br>

Heading Defaults:
<h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6>

<br><br>

Paragraph:
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<br><br>

Link:
<p>Lorem <a href="#">ipsum dolor</a> sit amet</p>

<br><br>

Horizontal Rule:
<hr>

<br><br>

List:
<ul class="list--body">
  <li>List Item</li>
  <li>List Item</li>
  <li>List Item</li>
  <li>List Item</li>
</ul>

<br><br>

Blockquote:
<blockquote>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</blockquote>

<br><br>

Cite:
<cite>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</cite>

<br><br>

Hero Headings

<h1 class="heading--hero">Heading Hero</h1>
<h1 class="heading--hero--xl">Heading Hero XL</h1>

<br><br>

Section Headings

<h1 class="heading--section">Heading Section</h1>
<h1 class="heading--section--w-subhead">Heading Section w/ Subhead</h1>

<br><br>

<h1 class="heading--item">Heading Item</h1>
