// @mixin shadow($z: 1) {
//   box-shadow: 0 (2px * $z) (2px * $z) rgba(0, 0, 0, 0.2);
// }

@mixin small-strip {
  content: '';
  height: $small-strip-height;
  border-top-right-radius: $minor-border-radius;
  border-top-left-radius: $minor-border-radius;
  background-color: $anchor-blue;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

// The small strip changes for brand simplification
@mixin bs__small-strip {
  content: '';
  height: $small-strip-height;
  border-top-right-radius: $minor-border-radius;
  border-top-left-radius: $minor-border-radius;
  background-color: $bs__olive-green;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

@mixin column-flag {
  color: $white;
  text-align: center;
  background-color: $anchor-blue;
  margin-bottom: 0;
  width: 75%;
  margin: auto;
}

@mixin table-flag {
  color: $white;
  text-align: center;
  background-color: $alert-primary;
  padding: 3px;
  position: absolute;
  bottom: 100%;
  top: -23px;
  width: 100%;
  left: 0;
}
