// Accordion Panels
@mixin accordion__panel {
  padding: 0 $base-padding;
  background-color: $panel-primary;
  display: none;
  overflow: hidden;
  @include transition(0.1s ease-in-out);
  opacity: 0;
  border-bottom: ($base-input-border-size * 2) solid $grey-lightest;

  p {
    color: $paragraph-text-color;
    padding-bottom: $base-padding;
  }
}

@mixin accordion__active_panel {
  opacity: 1;
  display: block;
}

// Accordion Buttons
@mixin accordion {
  background-color: $panel-primary;
  color: $header-text-color;
  padding: $base-padding;
  width: 100%;
  text-align: left;
  border: none;
  border-bottom: ($base-input-border-size * 2) solid $grey-lightest;
  outline: none;
  transition: $element-slow-fade-in;
  border-radius: 0px;
  font-size: $h3-font-size;
  vertical-align: middle;
  white-space: normal;

  &:hover,
  &:active,
  &:focus {
    color: $base-link-color;
    background-color: $panel-primary;
    border-bottom: ($base-input-border-size * 2) solid $grey-lightest;
  }

  &:after {
    content: '\f067';
    font-family: FontAwesome;
    float: right;
    font-size: $medium-icon-font-size;
    width: $accordion-icon-size;
    height: $accordion-icon-size;
    color: $base-link-color;
    display: inline-block;
    text-align: center;
    margin-right: 5px;
    line-height: 1;
    @include transition($element-spin-base-transition);
  }
}

@mixin active_accordion {
  color: $base-link-color;
  border-bottom: none;

  &:after {
    content: '\f068';
    font-family: FontAwesome;
    @include transform($element-spin-rotation-full);
  }
}

@mixin accordion-toggle--round {
  @include secondary-button;
  width: $accordion-toggle--round-size;
  height: $accordion-toggle--round-size;
  border: 0;
  border-radius: 50%;
  padding: 0;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  box-shadow: $base-box-shadow;

  &:after {
    content: '\f107';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: FontAwesome;
    font-size: $accordion-angle-size;
    @include transition($element-spin-base-transition);
  }

  span {
    position: relative;
    right: 9999px;
  }

  &:hover,
  &:active,
  &:focus {
    outline: 0;
  }
}

@mixin accordion-toggle--round--active {
  @include transition($element-spin-base-transition);
  @include transform(translate(-50%, -50%) $element-spin-rotation-half);
}
