@mixin component-box {
  border-radius: $minor-border-radius;
  padding: $base-spacing-medium;
  background-color: $panel-primary;
  box-shadow: $base-box-shadow;
}

@mixin sticky-box($breakpoint: $small-screen-max) {
  @include component-box;
  box-shadow: $base-box-shadow;
  position: fixed;

  @media only screen and (max-width: $breakpoint) {
    position: static;
  }

  p {
    color: $paragraph-text-color;
    font-size: $small-font-size;
  }
}

// Card Deck - Centered - 4 across
  // Use: Arranges Home product category blocks
@mixin card-deck--centered {
  @include display(flex);
  @include flex-wrap(wrap);
  @include flex-direction(row);
  @include justify-content(space-between);
  @include align-items(stretch);

  @media only screen and (max-width: $medium-screen-max) {
    max-width: 100%;
    margin: auto;
  }

  @media only screen and (max-width: $small-screen-max) {
    @include flex-direction(column);
    @include flex-wrap(nowrap);
  }
}

// Card Tile
  // Use: Home product category blocks
@mixin card--tile {
  @include component-box;
  @include display(flex);
  @include flex-direction(column);
  @include align-items(center);
  @include flex(1);
  position: relative;
  margin: $base-spacing-small;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    box-shadow: $base-box-shadow-hover;
  }

  @media only screen and (max-width: $medium-screen-max) {
    @include flex(1 0 46%);
  }

  @media only screen and (max-width: $small-screen-max) {
    width: 100%;
    @include flex(1);
    margin-left: 0;
    margin-right: 0;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

// Ecom Table Boxes
@mixin ecom_table-item {
  border-bottom: $base-border;
  margin-top: $base-margin * 2; // TODO should be $base-spacing-medium now but not yet touching Ecom

  .ecom__column-item_flag {
    @include column-flag;
  }

  .ecom__column-item-box {
    width: 100%;
    text-align: center;
    border: $base-border;
    border-radius: $minor-border-radius;
    border-top: none;

    .ecom__column-item-box--header {
      @include cbGradient;

      h3 {
        color: $white;
        padding-top: $base-margin;
        padding-bottom: $base-margin;
        margin-bottom: 0;
      }
    }

    .ecom__column-item-box--price {
      color: $azure-blue;
      font-weight: $font-weight-bold;
      padding-top: $base-margin;
      padding-bottom: $base-margin;

      span {
        font-size: $h2-font-size;
      }
    }

    .ecom__column-item-box--list {
      background-color: $grey-lightest;

      li {
        list-style-type: none;
        margin: auto;
        padding-top: $base-margin;
        padding-bottom: $base-margin;
        border-top: $base-border;
        width: 90%;

        .ecom__dashed-price {
          text-decoration: line-through;
        }

        .ecom__value-price {
          color: $lime-dark;
        }
      }
    }
  }

  .ecom__column-item_buy-button {
    margin-top: $base-margin;
    margin-bottom: $base-margin * 2;

    a {
      width: 100%;
    }
  }
}

// Item Bar

@mixin item-bar__list($breakpoint: $small-screen-max) {
  @include display(flex);
  @include justify-content(center);
  padding: $base-spacing-medium 0;

  @media only screen and (max-width: $breakpoint) {
    @include flex-direction(column);
    padding: 0;
  }
}

@mixin item-bar__list-item($breakpoint: $small-screen-max) {
  position: relative;
  border-right: $base-border;
  padding: 0 $base-spacing-medium;
  text-align: center;
  list-style-type: none;

  @media only screen and (max-width: $breakpoint) {
    border-right: 0;
    padding: $base-spacing-small 0;

    &:after {
      content: '';
      height: 1px;
      width: 100px;
      border-bottom: $base-border;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &:last-child {
    border: 0;

    &:after {
      content: none;
      display: none;
    }
  }
}
