%disabled {
  opacity: 0.3;
  filter: alpha(opacity=30); /* IE8 */
}

%button {
  -webkit-font-smoothing: antialiased;
  border-radius: $button-border-radius;
  color: $base-button-text-color;
  display: inline-block;
  font-size: $base-button-font-size;
  font-weight: bold;
  line-height: $base-button-line-height;
  padding: $base-button-vertical-padding $base-button-horizontal-padding;
  text-decoration: none;
  border: $base-button-border-size solid $base-button-border-color;
  cursor: pointer;
  user-select: none;
  vertical-align: top;
  text-align: center;
  // text-transform: uppercase; // TODO this should go here (?) but without breaking things like accordions
  white-space: nowrap;
  width: auto;
  background-color: $base-button-color;

  @include appearance(none);

  &:hover {
    background-color: $base-hover-button-color;
    color: $base-hover-button-text-color;
    border-color: $base-hover-button-border-color;
    text-decoration: none;
  }

  &:active {
    background-color: $base-active-button-color;
    color: $base-active-button-text-color;
    border-color: $base-active-button-border-color;
  }

  &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
    @extend %disabled;
  }
}

// Button Types

%primary-button {
  background-color: $primary-button-color;
  color: $primary-button-text-color;
  border-color: $primary-button-border-color;
  text-transform: uppercase;

  &:hover {
    background-color: $primary-hover-button-color;
    color: $primary-hover-button-text-color;
    border-color: $primary-hover-button-border-color;
  }

  &:active {
    background-color: $primary-active-button-color;
    color: $primary-active-button-text-color;
    border-color: $primary-active-button-border-color;
  }

  &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
    @extend %disabled;
  }
}

%secondary-button {
  background-color: $secondary-button-color;
  color: $secondary-button-text-color;
  border-color: $secondary-button-border-color;
  text-transform: uppercase;

  &:hover {
    background-color: $secondary-hover-button-color;
    color: $secondary-hover-button-text-color;
    border-color: $secondary-hover-button-border-color;
  }

  &:active {
    background-color: $secondary-active-button-color;
    color: $secondary-active-button-text-color;
    border-color: $secondary-active-button-border-color;
  }

  &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
    @extend %disabled;
  }
}

%tertiary-button {
  background-color: $tertiary-button-color;
  color: $tertiary-button-text-color;
  border-color: $tertiary-button-border-color;
  text-transform: uppercase;

  &:hover {
    background-color: $tertiary-hover-button-color;
    color: $tertiary-hover-button-text-color;
    border-color: $tertiary-hover-button-border-color;
  }

  &:active {
    background-color: $tertiary-active-button-color;
    color: $tertiary-active-button-text-color;
    border-color: $tertiary-active-button-border-color;
  }

  &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
    @extend %disabled;
  }
}

%bs__tertiary-button {
  background-color: $tertiary-button-color;
  color: $bs__sky-blue;
  border-color: $bs__sky-blue;
  text-transform: uppercase;

  &:hover {
    background-color: $bs__sky-blue;
    color: $tertiary-hover-button-text-color;
    border-color: $bs__sky-blue;
  }

  &:active {
    background-color: $bs__sky-blue;
    color: $tertiary-active-button-text-color;
    border-color: $bs__sky-blue;
  }

  &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
    @extend %disabled;
  }
}

%tertiary-inverse-button {
  background-color: $tertiary-inverse-button-color;
  color: $tertiary-inverse-button-text-color;
  border-color: $tertiary-inverse-button-border-color;
  text-transform: uppercase;

  &:hover {
    background-color: $tertiary-inverse-hover-button-color;
    color: $tertiary-inverse-hover-button-text-color;
    border-color: $tertiary-inverse-hover-button-border-color;
  }

  &:active {
    background-color: $tertiary-inverse-active-button-color;
    color: $tertiary-inverse-active-button-text-color;
    border-color: $tertiary-inverse-active-button-border-color;
  }

  &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
    @extend %disabled;
  }
}

%negative-button {
  background-color: $negative-button-color;
  color: $negative-button-text-color;
  border-color: $negative-button-border-color;
  text-transform: uppercase;

  &:hover {
    background-color: $negative-hover-button-color;
    color: $negative-hover-button-text-color;
    border-color: $negative-hover-button-border-color;
  }

  &:active {
    background-color: $negative-active-button-color;
    color: $negative-active-button-text-color;
    border-color: $negative-active-button-border-color;
  }

  &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
    @extend %disabled;
  }
}

// %primary-inverse-button {
//   background-color: $primary-inverse-button-color;
//   color: $primary-inverse-button-text-color;
//   border-color: $primary-inverse-button-border-color;
//
//   &:hover {
//     background-color: $primary-inverse-hover-button-color;
//     color: $primary-inverse-hover-button-text-color;
//     border-color: $primary-inverse-hover-button-border-color;
//   }
//
//   &:active {
//     background-color: $primary-inverse-active-button-color;
//     color: $primary-inverse-active-button-text-color;
//     border-color: $primary-inverse-active-button-border-color;
//   }
//
//   &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
//     @extend %disabled;
//   }
// }

// %secondary-secondary-button {
//   background-color: $secondary-inverse-button-color;
//   color: $secondary-inverse-button-text-color;
//   border-color: $secondary-inverse-button-border-color;
//
//   &:hover {
//     background-color: $secondary-inverse-hover-button-color;
//     color: $secondary-inverse-hover-button-text-color;
//     border-color: $secondary-inverse-hover-button-border-color;
//   }
//
//   &:active {
//     background-color: $secondary-inverse-active-button-color;
//     color: $secondary-inverse-active-button-text-color;
//     border-color: $secondary-inverse-active-button-border-color;
//   }
//
//   &:disabled, &[disabled]:hover, &[disabled]:active, &.disabled, &.disabled:hover, &.disabled:active {
//     @extend %disabled;
//   }
// }

// Button Sizes

%small-button {
  font-size: $small-button-font-size;
  padding: $small-button-vertical-padding $small-button-horizontal-padding;
}

%medium-button {
  font-size: $medium-button-font-size;
  padding: $medium-button-vertical-padding $medium-button-horizontal-padding;
}

%large-button {
  font-size: $large-button-font-size;
  padding: $large-button-vertical-padding $large-button-horizontal-padding;
}

%massive-button {
  font-size: $massive-button-font-size;
  padding: $massive-button-vertical-padding $massive-button-horizontal-padding;
}
