@mixin card-block($include_strip: true) {
  @include card--tile;
  @include transform(scale(1)); // TODO mixin that includes transition and transform
  @include transition(transform 0.4s ease-in);

  color: $body-text-color;
  text-align: center;
  margin: $base-spacing-medium / 2;

  h3 {
    text-transform: uppercase;
    font-size: $small-font-size;
  }

  @if $include_strip {
    padding-top: calc(#{$base-spacing-medium} + #{$small-strip-height});

    &:before {
      @include bs__small-strip;
    }
  }

  @media only screen and (min-width: $small-screen-max) { // TODO turning off the fanciness on mobile but should there still be some sort of state for usability?
    &:hover {
      @include transform(scale(1.06));
      @include transition(transform 550ms ease-out);

      @if $include_strip {
        &:before {
          background-color: $anchor-blue;
        }
      }
    }
  }
}

@mixin card-block__logo($logo_height: 80px) {
  img {
    height: $logo_height;
    margin-bottom: $base-spacing-small;
  }
}

@mixin card-block__button {
  margin-top: $base-spacing-medium; // TODO standardize new button top margins
}

@mixin card-block__text {
  @include flex-grow(1);
  @include flex-shrink(0);
  @include flex-basis(auto);

  max-width: 30ch;
  margin: auto;

  p {
    @include flex(1);
    @include flex-basis(100%);

    color: $paragraph-text-color;
  }
}
