@mixin flash($color) {
  background: $color;
  color: darken($color, 60);

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}

%flash-base {
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
}

%flash-primary {
  @extend %flash-base;
  @include flash($accent-primary);
}

%flash-success {
  @extend %flash-base;
  @include flash($accent-success);
}

%flash-warning {
  @extend %flash-base;
  @include flash($accent-warning);
}

%flash-danger {
  @extend %flash-base;
  @include flash($accent-danger);
}
