@mixin nav_flyout($top, $flyout-offset-value, $flyout-offset-direction: 'left', $nav-pointer-offset: 25%) {
  position: relative;

  ul {
    @include speech_bubble($pointer-offset: $nav-pointer-offset);
    @include transition($base-transition);
    position: absolute;
    top: $top;
    #{$flyout-offset-direction}: $flyout-offset-value;
    text-align: left;
    z-index: z($z-context, navigation, $navigation, top-bar--primary__flyout__ul);
    width: auto;
    height: auto;
    padding: 25px;
    display: none;


    @media only screen and (max-width: $mobile-nav-max) {
      position: relative;
      top: 0;
      left: 0;
      border: 0;
      border-radius: 0;
      padding: 0;
    }

    &:after, &:before {
      @media only screen and (max-width: $mobile-nav-max) {
        content: none;
      }
    }
  }

  ul li {
    padding: 7px 10px;
    display: block;
  }

  ul li a {
    color: $base-link-color;
    font-weight: $font-weight-normal;

    &.top-bar__link:hover,
    &:hover .top-bar__link {
      text-decoration: underline;
    }

    @media only screen and (max-width: $mobile-nav-max) {
      color: $base-link-color;
      text-indent: 2em;
    }
  }


}
