// ## Gradient Color Sets ##

$cb: (
  dark: $cb-gradient-dark,
  medium: $cb-gradient-medium,
  light: $cb-gradient-light
);

$rogueOne: (
  dark: $anchor-blue,
  medium: $azure-blue-dark,
  light: $azure-blue
);

$dayAfterTomorrow: (
  dark: $dayAfterTomorrow-dark,
  medium: $dayAfterTomorrow-medium,
  light: $dayAfterTomorrow-light
);

$cloverfield: (
  dark: $cb-gradient-dark,
  medium: $emerald,
  light: $emerald-light
);

$soylentGreen: (
  dark: $lime-dark,
  medium: $lime,
  light:  $teal-light
);

$gobletOfFire: (
  dark: $orange-dark,
  medium: $marigold-dark,
  light:  $marigold-light
);

$purpleRain: (
  dark: $purple-dark,
  medium: $purple-medium,
  light: $purple-light
);

$moonlight: (
  dark: $purple-dark,
  medium: $purple-medium,
  light: $teal
);

$lostWorld: (
  dark: $emerald-dark,
  medium: $emerald,
  light: $lime
);

$gradient_name_list: (
  cb,
  rogueOne,
  dayAfterTomorrow,
  cloverfield,
  soylentGreen,
  gobletOfFire,
  purpleRain,
  moonlight,
  lostWorld,
);

$gradient_var_list: (
  $cb,
  $rogueOne,
  $dayAfterTomorrow,
  $cloverfield,
  $soylentGreen,
  $gobletOfFire,
  $purpleRain,
  $moonlight,
  $lostWorld,
);


// ## Gradient Mixins ##

@mixin gradient($dark, $medium, $light) {
  background: $dark; // Old browsers
  background: -moz-linear-gradient(-45deg, $dark 0%, $medium 35%, $light 100%); // FF3.6-15
  background: -webkit-linear-gradient(-45deg, $dark 0%, $medium 35%, $light 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(135deg, $dark 0%, $medium 35%, $light 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$dark}', endColorstr='#{$light}',GradientType=1 ); // IE6-9 fallback on horizontal gradient
}

@mixin gradientTransparent($dark, $medium, $light, $transparency: 0.9) {
  background: $dark; // Old browsers
  background: -moz-linear-gradient(-45deg, $dark 0%, $medium 35%, transparentize($light, $transparency) 100%); // FF3.6-15
  background: -webkit-linear-gradient(-45deg, $dark 0%, $medium 35%, transparentize($light, $transparency) 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(135deg, $dark 0%, $medium 35%, transparentize($light, $transparency) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$dark}', endColorstr='#{$light}',GradientType=1 ); // IE6-9 fallback on horizontal gradient
}

@mixin imageGradientBlend($img-url, $dark, $medium, $light, $mode: multiply) {
  background-color: $light;
  background-image:
    linear-gradient(to right, rgba($dark, 0.8), rgba($medium, 0.75), rgba($light, 0.2)),
    url($img-url);
  background-blend-mode: $mode;
  background-attachment: fixed;
}

@mixin imageGradient($img-url, $dark, $medium, $light) {
  background-color: $light;
  background-image:
    linear-gradient(to right, rgba($dark, 0.8), rgba($medium, 0.75), rgba($light, 0.2)),
    url($img-url);
  background-attachment: fixed;
}


// ## Gradient Implementation ##

@mixin cbGradient {
  @include gradient(map-get($cb, dark), map-get($cb, medium), map-get($cb, light));
}

@mixin cbGradientTransparent {
  @include gradientTransparent(map-get($cb, dark), map-get($cb, medium), map-get($cb, light));
}

@mixin rogueOneGradient {
  @include gradient(map-get($rogueOne, dark), map-get($rogueOne, medium), map-get($rogueOne, light));
}

@mixin rogueOneGradientTransparent {
  @include gradientTransparent(map-get($rogueOne, dark), map-get($rogueOne, medium), map-get($rogueOne, light));
}

@mixin cloverfieldGradient {
  @include gradient(map-get($cloverfield, dark), map-get($cloverfield, medium), map-get($cloverfield, light));
}

@mixin cloverfieldGradientTransparent {
  @include gradientTransparent(map-get($cloverfield, dark), map-get($cloverfield, medium), map-get($cloverfield, light));
}

@mixin gobletOfFireGradient {
  @include gradient(map-get($gobletOfFire, dark), map-get($gobletOfFire, medium), map-get($gobletOfFire, light));
}

@mixin gobletOfFireGradientTransparent {
  @include gradientTransparent(map-get($gobletOfFire, dark), map-get($gobletOfFire, medium), map-get($gobletOfFire, light));
}

@mixin soylentGreenGradient {
  @include gradient(map-get($soylentGreen, dark), map-get($soylentGreen, medium), map-get($soylentGreen, light));
}

@mixin soylentGreenGradientTransparent {
  @include gradientTransparent(map-get($soylentGreen, dark), map-get($soylentGreen, medium), map-get($soylentGreen, light));
}

@mixin purpleRainGradient {
  @include gradient(map-get($purpleRain, dark), map-get($purpleRain, medium), map-get($purpleRain, light));
}

@mixin purpleRainGradientTransparent {
  @include gradientTransparent(map-get($purpleRain, dark), map-get($purpleRain, medium), map-get($purpleRain, light));
}

@mixin dayAfterTomorrowGradient {
  @include gradient(map-get($dayAfterTomorrow, dark), map-get($dayAfterTomorrow, medium), map-get($dayAfterTomorrow, light));
}

@mixin dayAfterTomorrowGradientTransparent {
  @include gradientTransparent(map-get($dayAfterTomorrow, dark), map-get($dayAfterTomorrow, medium), map-get($dayAfterTomorrow, light));
}

@mixin moonlightGradient {
  @include gradient(map-get($moonlight, dark), map-get($moonlight, medium), map-get($moonlight, light));
}

@mixin moonlightGradientTransparent {
  @include gradientTransparent(map-get($moonlight, dark), map-get($moonlight, medium), map-get($moonlight, light));
}

@mixin lostWorldGradient {
  @include gradient(map-get($lostWorld, dark), map-get($lostWorld, medium), map-get($lostWorld, light));
}

@mixin lostWorldGradientTransparent {
  @include gradientTransparent(map-get($lostWorld, dark), map-get($lostWorld, medium), map-get($lostWorld, light));
}
