@mixin cbGradient {
  background: $gradient-dark; // Old browsers
  background: -moz-linear-gradient(-45deg, $gradient-dark 0%, $gradient-medium 35%, $gradient-light 100%); // FF3.6-15
  background: -webkit-linear-gradient(-45deg, $gradient-dark 0%, $gradient-medium 35%, $gradient-light 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(135deg, $gradient-dark 0%, $gradient-medium 35%, $gradient-light 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$gradient-dark}', endColorstr='#{$gradient-light}',GradientType=1 ); // IE6-9 fallback on horizontal gradient
}

@mixin cbGradientTransparent {
  background: $gradient-dark; // Old browsers
  background: -moz-linear-gradient(-45deg, $gradient-dark 0%, $gradient-medium 35%, transparentize($gradient-light, 0.9) 100%); // FF3.6-15
  background: -webkit-linear-gradient(-45deg, $gradient-dark 0%, $gradient-medium 35%, transparentize($gradient-light, 0.9) 100%); // Chrome10-25,Safari5.1-6
  background: linear-gradient(135deg, $gradient-dark 0%, $gradient-medium 35%, transparentize($gradient-light, 0.9) 100%); // W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$gradient-dark}', endColorstr='#{$gradient-light}',GradientType=1 ); // IE6-9 fallback on horizontal gradient
}
