// TODO incorporate site-wide typograpy updates

@mixin heading--hero {
  h1 {
    @include font-style--xxl-light;
    margin-bottom: 0;
  }

  p {
    @include font-style--large-regular;
    margin-top: $type-margin-large;
  }
}

@mixin heading--hero--xl {
  // In progress - For use with Extra Large header style (https://cb-content-enablement.atlassian.net/wiki/pages/viewpage.action?pageId=43897344)
  h1 {
    @include font-style--large-regular;
    margin-bottom: 0;
  }

  p {
    @include font-style--xl-light;
    margin-top: $type-margin-large;
  }
}

@mixin heading--section {
  margin-bottom: $type-margin;

  &__heading {
    @include font-style--xl-light;
    margin-bottom: $type-margin;
  }

  p {
    color: $text-color-grey;
  }
}

@mixin heading--section--w-subhead {
  margin-bottom: $type-margin;

  &__heading {
    @include font-style--med-bold-uppercase;
    margin-bottom: 0;
  }

  &__subheading {
    margin-top: $type-margin;
    @include font-style--xl-light;
  }
}
