// TODO incorporate site-wide typograpy updates

@mixin heading--hero {
  h1 {
    font-size: 2.75rem;
    font-weight: $font-weight-light;
    margin-bottom: 0;
  }

  p {
    margin-top: 28px; // TODO new type spacing (but this may be home specific)
    font-size: 1.375rem;
  }
}

@mixin heading--hero--xl {
  // In progress - For use with Extra Large header style (https://cb-content-enablement.atlassian.net/wiki/pages/viewpage.action?pageId=43897344)
  h1 {
    font-size: 1.375rem;
    margin-bottom: 0;
  }

  p {
    margin-top: 28px;
    font-size: 2.75rem;
    font-weight: $font-weight-light;
  }
}

@mixin heading--hero--sm {
  h1 {
    font-size: $h1-font-size;
    font-weight: $font-weight-light;
  }

  p {
    color: $paragraph-text-color;
    font-size: $body-font-size;
  }
}

@mixin heading--section {
  margin-bottom: 20px;

  &__heading {
    font-size: 0.9375rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__subheading {
    margin-top: 20px;
    font-size: 1.875rem;
    font-weight: $font-weight-light;
  }
}
