@mixin media__wrapper {
  @include display(flex);
  @include flex-direction(column);
}

@mixin media__item {
  @include display(flex);
  @include flex(1);
  @include flex-grow(1);
  margin-bottom: $base-spacing;

  &:last-child {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $small-screen-max) {  // TODO Can this wrap so that I don't have to explicitly set column direction? Give image boxes a min-width?
    @include flex-direction(column);
    text-align: center;
  }
}

@mixin media__item__img-wrap($image-wrap-width) {
  @include flex-grow(0);
  @include flex-shrink(0);
  @include flex-basis(auto);
  width: $image-wrap-width;
  margin-right: $base-spacing;

  @media only screen and (max-width: $small-screen-max) {
    width: 100%;
    margin-right: 0;
    margin-bottom: $base-margin;
  }
}

@mixin media__item__text {
  @include flex-grow(1);
  @include flex-shrink(1);
  @include flex-basis(auto);

  @media only screen and (max-width: $small-screen-max) {
    @include flex-shrink(0);
  }

  &--headline {
    margin-bottom: 0;
  }

  &--description {
    font-size: $h3-font-size;
    color: $paragraph-text-color;
  }
}
