@mixin logos-section {
  background-color: $white;
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .home__logos__headline {
    font-size: 30px;
    text-align: center;
    padding-top: $base-padding;
    padding-bottom: $base-padding;
  }

  .home__logos__carousel-wrap {
    @include logos-carousel;
  }

  .home__logos__carousel--mobile-wrap {
    @include mobile-logos-carousel;
  }
}
