@mixin speech_bubble($direction: up, $offset-position: left, $base-position: bottom) {
  $pointer-triangle-size: 28px !default; // width of triangle base
  $pointer-triangle-foreground-size: $pointer-triangle-size - 1 !default;
  $pointer-offset: 25% !default;

  // TODO why doesn't this work; gives undefined variable error for both
  // @if $direction == up {
  //  $base-position: bottom;
  //  $offset-position: left;
  // }

  border: $base-border;
  border-radius: $base-border-radius;
  padding: $base-spacing / 2 $base-spacing;
  background-color: $panel-primary;

  &:after, &:before {
    content: '';
    position: absolute;
    #{$base-position}: 100%;
    pointer-events: none;
  }

  &:before {
    @include triangle($pointer-triangle-size $pointer-triangle-size/2, $base-border-primary-color, $direction);
    #{$offset-position}: $pointer-offset;
  }

  &:after {
    @include triangle($pointer-triangle-foreground-size $pointer-triangle-foreground-size/2, $header-flyout-color, $direction);
    #{$offset-position}: calc(#{$pointer-offset} + 1px);
  }
}
