@mixin table {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 $table-margin 0;
  padding: 0;
}

@mixin table__cell($columns) {
  @include calc(width, "100% / #{$columns}");

  border-bottom: $table-row-divider-width solid $table-row-divider-color;
  padding: $table-cell-padding-top-and-bottom $table-cell-padding-sides;
  box-sizing: border-box;
  flex-grow: 1;
  overflow: hidden; // Or flex might break
  list-style: none;
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}

@mixin table__row--last {
  border-bottom: none !important;
}

@mixin table__header($columns) {
  @include table__cell($columns);
  background-color: $table-header-background-color;
  padding: $table-header-padding;
  border-bottom: none;
}

@mixin table__header--first($columns) {
  @include table__header($columns);
  border-top-left-radius: $table-header-corner-radius;
}

@mixin table__header--last($columns) {
  @include table__header($columns);
  border-top-right-radius: $table-header-corner-radius;
}


// Compare Charts

@mixin table--row-column-headers($table-col-width: 25%, $table-caption-z-index: 2) {
  border-collapse: separate;
  border-spacing: $table-border-spacing 0;
  table-layout: fixed;
  width: 100%;

  caption {
    position: relative;
    z-index: $table-caption-z-index;
    background: $panel-primary;
    text-align: left;
  }

  th {
    padding: $base-spacing-medium;
    text-transform: uppercase;
  }

  th[scope='col'] {
    text-align: center;
  }

  th[scope='row'] {
    border: $base-border;
    background-color: $table-row-th--background;
    text-align: left;
    font-size: $small-font-size;
    font-weight: $font-weight-bold;

    small {
      display: block;
      font-size: 0.6875rem; // TODO is 11 the new small-font-size
      font-weight: $font-weight-normal;
      text-transform: none;
    }
  }

  th, td {
    position: relative;
    font-size: 0.9375rem;
  }

  td {
    padding: $table--row-column-headers--padding;
    color: $grey-demon;
    text-align: center;
  }

  @media only screen and (max-width: $medium-screen-max) {
    thead th:first-of-type {
      width: 14ch;
    }
  }
}

@mixin table--alternating-row-colors {
  tr:nth-child(odd) {
    th, td {
      background-color: $table-row-light;
    }
  }

  tr:nth-child(even) {
    th, td {
      background-color: $table-row-dark;
    }
  }
}

@mixin table--alternating-row-colors--darkened-column {
  tr:nth-child(odd) {
    .darken {
      background-color: $table-row-light-promo;
      font-weight: $font-weight-bold;
    }
  }

  tr:nth-child(even) {
    .darken {
      background-color: $table-row-dark-promo;
      font-weight: $font-weight-bold;
    }
  }
}

@mixin table__column-highlight($highlight-content, $table-highlight-z-index) {
  &:hover:after,
  &:active:after,
  &:focus:after {
    content: $highlight-content;
    position: absolute;
    background-color: rgba($grey-darkest, 0.1);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: $table-highlight-z-index;
    pointer-events: none;
  }
}

@mixin table__buttons-row {
  td {
    background-color: transparent !important;
    padding: $base-spacing-medium 0 0;

    &:hover:after,
    &:active:after,
    &:focus:after {
      content: none !important;
      display: none;
    }
  }
}

@mixin table-data-icon {
  position: relative;
  right: 9999px;

  &:after {
    position: absolute;
    top: 50%;
    right: -9999px;
    width: 100%;
    font-size: $table-data-icon-size;
    line-height: 0;
    font-family: FontAwesome;
    color: $grey-dark;
  }

  &--no:after {
    content: '\f00d'; // X icon
  }

  &--yes:after {
    content: '\f00c'; // Checkmark icon
  }
}

// Comapre Chart Modifiers

@mixin table--product($table-highlight-z-index: 1, $table-caption-z-index: 2, $table-col-width: 25%) {
  @include table--row-column-headers($table-col-width, $table-caption-z-index);
  overflow: hidden;

  th, td {
    // Column highlight
    @include table__column-highlight('', $table-highlight-z-index);
  }

  // Remove column highlight
  th[scope='row'],
  thead th:first-of-type {
    @include table__column-highlight(none, $table-highlight-z-index);
  }

  thead {
    th {
      color: white;
      font-weight: $font-weight-bold;
    }

    th:nth-of-type(3n+2) {
      background-color: $table-column-heading-1;
    }

    th:nth-of-type(3n+3) {
      background-color: $table-column-heading-2;
    }

    th:nth-of-type(3n+4) {
      background-color: $table-column-heading-3;
    }
  }
}

@mixin table--ecom($table-highlight-z-index: 1, $table-caption-z-index: 2, $table-col-width: 25%) {
  @include table--row-column-headers($table-col-width, $table-caption-z-index);

  thead {
    th {
      color: white;
      font-weight: $font-weight-bold;
      background-color: $ecom-table-heading;
    }

    th:first-of-type {
      background-color: transparent;
    }

    .darken {
      background-color: $ecom-table-promo-heading;
    }
  }
}

@mixin section-bar($breakpoint) {
  background-color: $table-row-light;
  padding: $base-margin;
  margin-bottom: $section-padding;
  border-radius: $minor-border-radius;
  font-weight: $font-weight-bold;

  @media only screen and (max-width: $breakpoint) {
    margin-bottom: 0;
  }

  @media only screen and (max-width: $small-screen-max) {
    margin-bottom: $section-padding--mobile;
  }
}
