// Font Sizes
$base-font-size: 1em;
$base-input-font-size: $base-font-size;

// Box Shadow
$base-box-shadow: 0 1px 2px 0 rgba(black, 0.25);
$base-box-shadow-hover: 0px 5px 10px rgba(black,.15);
$form-input-box-shadow: 0 1px 2px 0 rgba(black, 0.1);

// Other Sizes
// TODO Promote minor-border-radius to base?
$base-border-radius: 5px;
$minor-border-radius: 3px;
$button-border-radius: $minor-border-radius;
$panel-border-radius: $minor-border-radius;
$radio-border-radius: $base-border-radius * 10;
$checkbox-border-radius: $panel-border-radius;
$vertical-rule-width: 1px;
$small-strip-height: 0.5625rem; // 9px

// Image Sizes
$image-grid-block: 160px;

// Spacing
$base-spacing-smallest: 6px;
$base-spacing-small: 12px;
$base-spacing-medium: 30px;
$base-spacing-large: 50px;
$base-spacing-xlarge: 70px;

$section-padding: 70px;
$section-padding--mobile: 50px;
$header-padding: 70px;
$container-edge-padding: 20px; // Use this if using an unconventional body container and still need the default left /right padding our .containers have (20px)

// The following are old spacing values. *Do not use*
$base-spacing: 24px;
$base-margin: $base-spacing / 2; // 12px
$base-margin--small: $base-margin / 2; // 6px
$base-padding: $base-spacing;


// UI components
  // TODO work with Susan to convert all of these vaules to ems (see commit notes)
$medium-icon-font-size: 25px;
$direction-arrow-size: 2em;
$close-x-size: 18px;
$carousel-arrow-size: 1.875em;
$carousel-dot-size: 12px;
$carousel-dot-spacing: 10px;
$cta-icon-size: 2rem;
$back-to-top-icon-size: 2rem;
$accordion-icon-size: 30px;
$accordion-toggle--round-size: 60px;
$accordion-angle-size: 35px;
$resource-arrows: 1rem;
$resource-continue-block-size: 40px;
$resource-continue-block-icon: 18.72px;
$sitemap-angle-icon: 17px;
$social-media-icons: 19.2px;
$toggle-switch-width: 65px;
$visual-divider-endpoint-size: 13px;
$visual-guide-step-size: 42px;
$visual-guide-content-width: 509px;
$visual-guide-image-large: 290px;
$visual-guide-image-medium: 275px;
$visual-guide-image-small: 170px;

// Header
$header-height-home: 445px;
$header-height-large: 455px;
$header-top-bottom-padding: 32px;
$header-headline-bottom-margin: 15px;
$header-width-normal: 650px;
$header-height-small: 300px;

// Tables
$table-margin: $base-margin;
$table-row-divider-width: 1px;
$table-header-padding: $base-margin;
$table-header-corner-radius: $minor-border-radius;
$table-cell-padding-sides: $base-margin;
$table-cell-padding-top-and-bottom: $base-padding;

$table--row-column-headers--row-top-bottom-padding: 0.9375rem;
$table-border-spacing: 0;

$table-data-icon-size: 1.25rem;
$table-flag-height: 1.25rem;
$table-flag-offset: 20px;

$accordion-bottom-border: 2px;
$accordion-line-height: 0.5;
