// Top Bar
$top-bar--height: 56px;
$top-bar--height-combined: 56px * 2;
$top-bar--height--mobile: 42px;
$top-bar--logo-width: 192px;
$top-bar--logo-height: 20px;
$top-bar-font-size: $font-size-small;
$top-bar-icon-size: 0.75rem; // 12px
$top-bar-angle-size: 1rem; // 16px
$top-bar-link-color: $anchor-blue;
$top-bar-account-icon-color: $sky-blue;

// TODO move to sizing? This file is much more specific than it's siblings.
// The file is broken out so that it renders after typography because it uses $font-size-small
