// Top Bar
$top-bar--max-width: 1430px;
$top-bar--padding: 12px;
$top-bar--height--mobile: 70px;
$top-bar--logo-width: 295px;
$top-bar--logo-height: 68px;
$top-bar--subnav-offset: 90px;
$top-bar--body-offset: 68px;
$top-bar--body-offset-tablet: 45px;

// These affect positioning of the hero, subnav, buy box, search modal
$top-bar--height: $top-bar--logo-height + ($top-bar--padding * 2);
$top-bar--height-combined: $top-bar--height + $top-bar--body-offset;

$top-bar-font-size: $font-size-base;
$top-bar-icon-size: $font-size-base; // 13px
$top-bar-angle-size: 1rem; // 16px
$top-bar-link-color: $anchor-blue;
$top-bar-account-icon-color: $sky-blue;

// TODO move to sizing? This file is much more specific than it's siblings.
// The file is broken out so that it renders after typography because it uses $font-size-small
