<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.0" type="text/css">


<title>Colors: Azure Blue | Employer Style Base Pattern Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Employer Style Base Pattern Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-2386e2cd74ac4db4c883c89629b30640">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/colors--azure-blue.html" title="Component preview">
            Colors: Azure Blue
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-2386e2cd74ac4db4c883c89629b30640">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/colors--azure-blue.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style="padding: 30px !important; background-color: white !important; color: #666666 !important; font-family: Lato !important; "
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-2386e2cd74ac4db4c883c89629b30640">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-2386e2cd74ac4db4c883c89629b30640-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-2386e2cd74ac4db4c883c89629b30640-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-2386e2cd74ac4db4c883c89629b30640-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-2386e2cd74ac4db4c883c89629b30640-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-2386e2cd74ac4db4c883c89629b30640-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-2386e2cd74ac4db4c883c89629b30640-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-2386e2cd74ac4db4c883c89629b30640-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"height: 100px; background-color: #287ab9"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
$azure-blue <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span> #287ab9</pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-2386e2cd74ac4db4c883c89629b30640-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"height: 100px; background-color: </span></span></span><span class="hljs-template-variable">{{ color-hex }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</span><span class="hljs-template-variable">{{ color-variable }}</span><span class="xml"> <span class="hljs-tag">&lt;<span class="hljs-name">br</span>&gt;</span>
</span><span class="hljs-template-variable">{{ color-hex }}</span><span class="xml"></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-2386e2cd74ac4db4c883c89629b30640-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"order"</span>: <span class="hljs-number">3</span>,
  <span class="hljs-attr">"color-variable"</span>: <span class="hljs-string">"$azure-blue"</span>,
  <span class="hljs-attr">"color-hex"</span>: <span class="hljs-string">"#287ab9"</span>
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-2386e2cd74ac4db4c883c89629b30640-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-dc916b1d688b546738fbb59f67bc24b0">_colors.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-dc916b1d688b546738fbb59f67bc24b0" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-comment">// Color Definitions</span>

<span class="hljs-comment">// CB Main Branding Colors</span>
<span class="hljs-variable">$anchor-blue</span>: <span class="hljs-number">#182642</span>;
<span class="hljs-variable">$anchor-blue-light</span>: <span class="hljs-number">#747d8e</span>;

<span class="hljs-variable">$azure-blue</span>: <span class="hljs-number">#287ab9</span>;
<span class="hljs-variable">$azure-blue-dark</span>: <span class="hljs-number">#1e5c8b</span>;
<span class="hljs-variable">$azure-light</span>: <span class="hljs-number">#7eafd5</span>;

<span class="hljs-variable">$emerald</span>: <span class="hljs-number">#009b74</span>;
<span class="hljs-variable">$emerald-dark</span>: <span class="hljs-number">#007457</span>;
<span class="hljs-variable">$emerald-light</span>: <span class="hljs-number">#66c3ac</span>;

<span class="hljs-variable">$marigold</span>: <span class="hljs-number">#fcb716</span>;
<span class="hljs-variable">$marigold-dark</span>: <span class="hljs-number">#f79c25</span>;
<span class="hljs-variable">$marigold-light</span>: <span class="hljs-number">#fed473</span>;

<span class="hljs-variable">$grey-darkest</span>: <span class="hljs-number">#333</span>;
<span class="hljs-variable">$grey-demon</span>: <span class="hljs-number">#666</span>;
<span class="hljs-variable">$grey-dark</span>: <span class="hljs-number">#999999</span>;
<span class="hljs-variable">$grey-light</span>: <span class="hljs-number">#BBBBBB</span>;
<span class="hljs-variable">$grey-lighter</span>: <span class="hljs-number">#d8d8d8</span>; <span class="hljs-comment">// border color, home featured heading background</span>
<span class="hljs-variable">$grey-lightest</span>: <span class="hljs-number">#F4F4F4</span>;

<span class="hljs-comment">// CB Secondary</span>

<span class="hljs-variable">$sky-blue</span>: <span class="hljs-number">#0097d1</span>;
<span class="hljs-variable">$sky-blue-dark</span>: <span class="hljs-number">#0a7aaa</span>;
<span class="hljs-variable">$sky-blue-light</span>: <span class="hljs-number">#6bc6e9</span>;

<span class="hljs-variable">$teal</span>: <span class="hljs-number">#63c0b9</span>;
<span class="hljs-variable">$teal-dark</span>: <span class="hljs-number">#54a1a1</span>;
<span class="hljs-variable">$teal-light</span>: <span class="hljs-number">#a1d9d5</span>;

<span class="hljs-variable">$aqua</span>: <span class="hljs-number">#0195a3</span>;
<span class="hljs-variable">$aqua-dark</span>: <span class="hljs-number">#006064</span>;
<span class="hljs-variable">$aqua-light</span>: <span class="hljs-number">#50c5cd</span>;

<span class="hljs-variable">$lime</span>: <span class="hljs-number">#85ce3f</span>;
<span class="hljs-variable">$lime-dark</span>: <span class="hljs-number">#66a52a</span>;
<span class="hljs-variable">$lime-light</span>: <span class="hljs-number">#b6e28c</span>;

<span class="hljs-variable">$orange</span>: <span class="hljs-number">#e78523</span>;
<span class="hljs-variable">$orange-dark</span>: <span class="hljs-number">#be7229</span>;
<span class="hljs-variable">$orange-light</span>: <span class="hljs-number">#f1b67b</span>;

<span class="hljs-variable">$purple</span>: <span class="hljs-number">#662d91</span>;
<span class="hljs-variable">$purple-dark</span>: <span class="hljs-number">#311b92</span>;
<span class="hljs-variable">$purple-medium</span>: <span class="hljs-number">#673ab7</span>;
<span class="hljs-variable">$purple-light</span>: <span class="hljs-number">#b389ff</span>;

<span class="hljs-variable">$red</span>: <span class="hljs-number">#DD2C00</span>;

<span class="hljs-comment">// CB Gradient</span>
<span class="hljs-variable">$cb-gradient-dark</span>: <span class="hljs-number">#0A3A68</span>;
<span class="hljs-variable">$cb-gradient-medium</span>: <span class="hljs-number">#0E759E</span>;
<span class="hljs-variable">$cb-gradient-light</span>: <span class="hljs-number">#58A9A2</span>;

<span class="hljs-variable">$dayAfterTomorrow-dark</span>: white;
<span class="hljs-variable">$dayAfterTomorrow-medium</span>: <span class="hljs-number">#f0f0f0</span>;
<span class="hljs-variable">$dayAfterTomorrow-light</span>: <span class="hljs-number">#f0f0f0</span>;


<span class="hljs-comment">// Color Usage</span>

<span class="hljs-comment">// Product Branding</span>

<span class="hljs-variable">$brand-color--candidate-marketplace</span>: <span class="hljs-variable">$marigold</span>;
<span class="hljs-variable">$brand-color--sourcing-technologies</span>: <span class="hljs-variable">$lime</span>;
<span class="hljs-variable">$brand-color--recruitment-software</span>: <span class="hljs-variable">$azure-blue</span>;
<span class="hljs-variable">$brand-color--recruitment-analytics</span>: <span class="hljs-variable">$emerald</span>;

<span class="hljs-comment">// Resources</span>
<span class="hljs-variable">$resources__carousel-continue__background</span>: <span class="hljs-number">#fcfcfc</span>;
<span class="hljs-variable">$resources__carousel-continue__background--hover</span>: <span class="hljs-number">#f8f8f8</span>;
<span class="hljs-variable">$resources__carousel-continue__border</span>: <span class="hljs-number">#EEEEEE</span>;

<span class="hljs-comment">// Backgrounds</span>
<span class="hljs-variable">$base-background-color</span>: white;
<span class="hljs-variable">$secondary-background-color</span>: <span class="hljs-variable">$grey-lightest</span>;
<span class="hljs-variable">$panel-primary</span>: white;
<span class="hljs-variable">$panel-secondary</span>: <span class="hljs-variable">$grey-lightest</span>;

<span class="hljs-comment">// Alerts</span>
<span class="hljs-variable">$alert-primary</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$alert-primary-active</span>: <span class="hljs-variable">$sky-blue-light</span>;
<span class="hljs-variable">$alert-danger</span>: <span class="hljs-variable">$red</span>;
<span class="hljs-variable">$alert-warning</span>: <span class="hljs-variable">$marigold</span>;
<span class="hljs-variable">$alert-success</span>: <span class="hljs-variable">$lime-dark</span>;

<span class="hljs-comment">// Header/Footer</span>
<span class="hljs-variable">$header-background-color--account-nav</span>: <span class="hljs-variable">$anchor-blue</span>;
<span class="hljs-variable">$header-background-color--site-nav</span>: white;
<span class="hljs-variable">$header-background-color--mobile-nav</span>: white;
<span class="hljs-variable">$header-background-color</span>: white; <span class="hljs-comment">// mobile?</span>
<span class="hljs-variable">$header-mobile-icon-color</span>: <span class="hljs-variable">$anchor-blue</span>;
<span class="hljs-variable">$header-mobile-text-hover-color</span>: white;
<span class="hljs-variable">$header-text-color</span>: <span class="hljs-variable">$anchor-blue</span>;
<span class="hljs-variable">$header-text-hover-color</span>: white;
<span class="hljs-variable">$header-background-secondary-color</span>: <span class="hljs-variable">$grey-lightest</span>;
<span class="hljs-variable">$header-flyout-color</span>: <span class="hljs-variable">$header-background-color</span>;
<span class="hljs-variable">$header-subtitle-color</span>: <span class="hljs-variable">$grey-demon</span>;
<span class="hljs-variable">$footer-background-color</span>: <span class="hljs-variable">$anchor-blue</span>;
<span class="hljs-comment">// $footer-accent-color: $header-accent-color;</span>
<span class="hljs-comment">// $footer-text-color: white;</span>
<span class="hljs-comment">// $footer-link-color: white;</span>

<span class="hljs-comment">// Navigation / Subnavigation</span>
<span class="hljs-variable">$primary-nav-link-color</span>: <span class="hljs-variable">$anchor-blue</span>;

<span class="hljs-comment">// Buttons</span>
<span class="hljs-variable">$base-button-color</span>: <span class="hljs-variable">$lime-dark</span>;
<span class="hljs-variable">$base-button-text-color</span>: white;
<span class="hljs-variable">$base-button-border-color</span>: <span class="hljs-variable">$base-button-color</span>;
<span class="hljs-variable">$base-hover-button-color</span>: <span class="hljs-variable">$lime</span>;
<span class="hljs-variable">$base-hover-button-text-color</span>: <span class="hljs-variable">$base-button-text-color</span>;
<span class="hljs-variable">$base-hover-button-border-color</span>: <span class="hljs-variable">$base-hover-button-color</span>;
<span class="hljs-variable">$base-active-button-color</span>: <span class="hljs-variable">$base-hover-button-color</span>;
<span class="hljs-variable">$base-active-button-text-color</span>: <span class="hljs-variable">$base-button-text-color</span>;
<span class="hljs-variable">$base-active-button-border-color</span>: <span class="hljs-variable">$base-active-button-color</span>;

<span class="hljs-variable">$primary-button-color</span>: <span class="hljs-variable">$base-button-color</span>;
<span class="hljs-variable">$primary-button-text-color</span>: <span class="hljs-variable">$base-button-text-color</span>;
<span class="hljs-variable">$primary-button-border-color</span>: <span class="hljs-variable">$primary-button-color</span>;
<span class="hljs-variable">$primary-hover-button-color</span>: <span class="hljs-variable">$base-hover-button-color</span>;
<span class="hljs-variable">$primary-hover-button-text-color</span>: <span class="hljs-variable">$primary-button-text-color</span>;
<span class="hljs-variable">$primary-hover-button-border-color</span>: <span class="hljs-variable">$primary-hover-button-color</span>;
<span class="hljs-variable">$primary-active-button-color</span>: <span class="hljs-variable">$primary-hover-button-color</span>;
<span class="hljs-variable">$primary-active-button-text-color</span>: <span class="hljs-variable">$primary-button-text-color</span>;
<span class="hljs-variable">$primary-active-button-border-color</span>: <span class="hljs-variable">$primary-active-button-color</span>;

<span class="hljs-variable">$secondary-button-color</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$secondary-button-text-color</span>: white;
<span class="hljs-variable">$secondary-button-border-color</span>: <span class="hljs-variable">$secondary-button-color</span>;
<span class="hljs-variable">$secondary-hover-button-color</span>: <span class="hljs-variable">$azure-blue-dark</span>;
<span class="hljs-variable">$secondary-hover-button-text-color</span>: <span class="hljs-variable">$secondary-button-text-color</span>;
<span class="hljs-variable">$secondary-hover-button-border-color</span>: <span class="hljs-variable">$secondary-hover-button-color</span>;
<span class="hljs-variable">$secondary-active-button-color</span>: <span class="hljs-variable">$secondary-hover-button-color</span>;
<span class="hljs-variable">$secondary-active-button-text-color</span>: <span class="hljs-variable">$secondary-hover-button-text-color</span>;
<span class="hljs-variable">$secondary-active-button-border-color</span>: <span class="hljs-variable">$secondary-active-button-color</span>;

<span class="hljs-variable">$tertiary-button-color</span>: transparent;
<span class="hljs-variable">$tertiary-button-text-color</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$tertiary-button-border-color</span>: <span class="hljs-variable">$tertiary-button-text-color</span>;
<span class="hljs-variable">$tertiary-hover-button-color</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$tertiary-hover-button-text-color</span>: white;
<span class="hljs-variable">$tertiary-hover-button-border-color</span>: <span class="hljs-variable">$tertiary-hover-button-color</span>;
<span class="hljs-variable">$tertiary-active-button-color</span>: <span class="hljs-variable">$tertiary-hover-button-color</span>;
<span class="hljs-variable">$tertiary-active-button-text-color</span>: <span class="hljs-variable">$tertiary-hover-button-text-color</span>;
<span class="hljs-variable">$tertiary-active-button-border-color</span>: <span class="hljs-variable">$tertiary-active-button-color</span>;

<span class="hljs-variable">$quarternary-button-color</span>: transparent;
<span class="hljs-variable">$quarternary-button-text-color</span>: white;
<span class="hljs-variable">$quarternary-button-border-color</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$quarternary-hover-button-color</span>: <span class="hljs-variable">$quarternary-button-border-color</span>;
<span class="hljs-variable">$quarternary-hover-button-text-color</span>: white;
<span class="hljs-variable">$quarternary-hover-button-border-color</span>: <span class="hljs-variable">$quarternary-hover-button-color</span>;
<span class="hljs-variable">$quarternary-active-button-color</span>: <span class="hljs-variable">$quarternary-hover-button-color</span>;
<span class="hljs-variable">$quarternary-active-button-text-color</span>: <span class="hljs-variable">$quarternary-hover-button-text-color</span>;
<span class="hljs-variable">$quarternary-active-button-border-color</span>: <span class="hljs-variable">$quarternary-active-button-color</span>;

<span class="hljs-variable">$quinary-button-color</span>: transparent;
<span class="hljs-variable">$quinary-button-text-color</span>: white;
<span class="hljs-variable">$quinary-button-border-color</span>: <span class="hljs-variable">$quinary-button-text-color</span>;
<span class="hljs-variable">$quinary-hover-button-color</span>: <span class="hljs-variable">$quinary-button-border-color</span>;
<span class="hljs-variable">$quinary-hover-button-text-color</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$quinary-hover-button-border-color</span>: <span class="hljs-variable">$quinary-hover-button-color</span>;
<span class="hljs-variable">$quinary-active-button-color</span>: <span class="hljs-variable">$quinary-hover-button-color</span>;
<span class="hljs-variable">$quinary-active-button-text-color</span>: <span class="hljs-variable">$quinary-hover-button-text-color</span>;
<span class="hljs-variable">$quinary-active-button-border-color</span>: <span class="hljs-variable">$quinary-active-button-color</span>;

<span class="hljs-variable">$text-button-color</span>: transparent;
<span class="hljs-variable">$text-button-text-color</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$text-button-border-color</span>: transparent;
<span class="hljs-variable">$text-hover-button-color</span>: <span class="hljs-variable">$text-button-color</span>;
<span class="hljs-variable">$text-hover-button-text-color</span>: <span class="hljs-variable">$sky-blue</span>;
<span class="hljs-variable">$text-hover-button-border-color</span>: currentColor;
<span class="hljs-variable">$text-active-button-color</span>: <span class="hljs-variable">$text-hover-button-color</span>;
<span class="hljs-variable">$text-active-button-text-color</span>: <span class="hljs-variable">$text-hover-button-text-color</span>;
<span class="hljs-variable">$text-active-button-border-color</span>: currentColor;

<span class="hljs-variable">$negative-button-color</span>: <span class="hljs-variable">$grey-dark</span>;
<span class="hljs-variable">$negative-button-text-color</span>: white;
<span class="hljs-variable">$negative-button-border-color</span>: <span class="hljs-variable">$negative-button-color</span>;
<span class="hljs-variable">$negative-hover-button-color</span>: <span class="hljs-variable">$grey-light</span>;
<span class="hljs-variable">$negative-hover-button-text-color</span>: <span class="hljs-variable">$negative-button-text-color</span>;
<span class="hljs-variable">$negative-hover-button-border-color</span>: <span class="hljs-variable">$grey-dark</span>;
<span class="hljs-variable">$negative-active-button-color</span>: <span class="hljs-variable">$negative-hover-button-color</span>;
<span class="hljs-variable">$negative-active-button-text-color</span>: <span class="hljs-variable">$negative-hover-button-text-color</span>;
<span class="hljs-variable">$negative-active-button-border-color</span>: <span class="hljs-variable">$negative-hover-button-border-color</span>;

<span class="hljs-comment">// Tabs</span>
<span class="hljs-variable">$active-tab-color</span>: <span class="hljs-variable">$anchor-blue</span>;
<span class="hljs-variable">$inactive-tab-color</span>: <span class="hljs-variable">$anchor-blue-light</span>;

<span class="hljs-comment">// Carousel</span>
<span class="hljs-variable">$active-carousel-button-color</span>: <span class="hljs-variable">$grey-demon</span>;
<span class="hljs-variable">$inactive-carousel-button-color</span>: <span class="hljs-variable">$grey-light</span>;
<span class="hljs-variable">$inactive-carousel-button-opacity</span>: <span class="hljs-number">1</span>;
<span class="hljs-variable">$active-carousel-button-opacity</span>: <span class="hljs-number">1</span>;
<span class="hljs-variable">$inverse-active-carousel-button-color</span>: <span class="hljs-variable">$grey-lightest</span>;
<span class="hljs-variable">$inverse-inactive-carousel-button-color</span>: <span class="hljs-variable">$grey-lightest</span>;
<span class="hljs-variable">$inverse-inactive-carousel-button-opacity</span>: <span class="hljs-number">0.35</span>;
<span class="hljs-variable">$inverse-active-carousel-button-opacity</span>: <span class="hljs-number">1</span>;

<span class="hljs-comment">// Border</span>
<span class="hljs-variable">$base-border-primary-color</span>: <span class="hljs-variable">$grey-lighter</span>;
<span class="hljs-variable">$base-border</span>: <span class="hljs-number">1px</span> solid <span class="hljs-variable">$base-border-primary-color</span>;

<span class="hljs-comment">// Tables</span>
<span class="hljs-variable">$table-row-divider-color</span>: <span class="hljs-variable">$grey-light</span>;
<span class="hljs-variable">$table-header-background-color</span>: <span class="hljs-variable">$grey-light</span>;

<span class="hljs-variable">$table-row-th--background</span>: <span class="hljs-variable">$grey-lightest</span>;

<span class="hljs-variable">$table-row-dark</span>: <span class="hljs-variable">$grey-lighter</span>;
<span class="hljs-variable">$table-row-light</span>: <span class="hljs-variable">$grey-lightest</span>;
<span class="hljs-variable">$table-row-light-promo</span>: <span class="hljs-variable">$grey-light</span>;
<span class="hljs-variable">$table-row-dark-promo</span>: <span class="hljs-variable">$grey-light</span>;

<span class="hljs-variable">$table-column-heading-1</span>: <span class="hljs-variable">$azure-blue</span>;
<span class="hljs-variable">$table-column-heading-2</span>: <span class="hljs-variable">$azure-blue-dark</span>;
<span class="hljs-variable">$table-column-heading-3</span>: <span class="hljs-variable">$aqua-dark</span>;
<span class="hljs-variable">$table-column-heading-4</span>: <span class="hljs-variable">$aqua</span>;

<span class="hljs-variable">$ecom-table-heading</span>: <span class="hljs-variable">$table-column-heading-2</span>;
<span class="hljs-variable">$ecom-table-promo-heading</span>: darken(<span class="hljs-variable">$table-column-heading-2</span>, <span class="hljs-number">10</span>);

<span class="hljs-comment">// Visual Guides</span>
<span class="hljs-variable">$visual-guide-step-border</span>: <span class="hljs-number">2px</span> solid <span class="hljs-variable">$azure-blue</span>;
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/colors/_colors.scss"><span>/components/raw/colors/_colors.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">sass/directives/00_variables/colors/_colors.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">7.6 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-2386e2cd74ac4db4c883c89629b30640-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@colors--azure-blue</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(43)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="colors--anchor-blue.html">
                    <span>Anchor Blue</span>
                </a>, 
            
                <a href="colors--anchor-blue-light.html">
                    <span>Anchor Blue Light</span>
                </a>, 
            
                <a href="">
                    <span>Azure Blue</span>
                </a>, 
            
                <a href="colors--azure-blue-dark.html">
                    <span>Azure Blue Dark</span>
                </a>, 
            
                <a href="colors--azure-light.html">
                    <span>Azure Light</span>
                </a>, 
            
                <a href="colors--emerald.html">
                    <span>Emerald</span>
                </a>, 
            
                <a href="colors--emerald-dark.html">
                    <span>Emerald Dark</span>
                </a>, 
            
                <a href="colors--emerald-light.html">
                    <span>Emerald Light</span>
                </a>, 
            
                <a href="colors--marigold.html">
                    <span>Marigold</span>
                </a>, 
            
                <a href="colors--marigold-dark.html">
                    <span>Marigold Dark</span>
                </a>, 
            
                <a href="colors--marigold-light.html">
                    <span>Marigold Light</span>
                </a>, 
            
                <a href="colors--grey-darkest.html">
                    <span>Grey Darkest</span>
                </a>, 
            
                <a href="colors--grey-demon.html">
                    <span>Grey Demon</span>
                </a>, 
            
                <a href="colors--grey-dark.html">
                    <span>Grey Dark</span>
                </a>, 
            
                <a href="colors--grey-light.html">
                    <span>Grey Light</span>
                </a>, 
            
                <a href="colors--grey-lighter.html">
                    <span>Grey Lighter</span>
                </a>, 
            
                <a href="colors--grey-lightest.html">
                    <span>Grey Lightest</span>
                </a>, 
            
                <a href="colors--sky-blue.html">
                    <span>Sky Blue</span>
                </a>, 
            
                <a href="colors--sky-blue-dark.html">
                    <span>Sky Blue Dark</span>
                </a>, 
            
                <a href="colors--sky-blue-light.html">
                    <span>Sky Blue Light</span>
                </a>, 
            
                <a href="colors--teal.html">
                    <span>Teal</span>
                </a>, 
            
                <a href="colors--teal-dark.html">
                    <span>Teal Dark</span>
                </a>, 
            
                <a href="colors--teal-light.html">
                    <span>Teal Light</span>
                </a>, 
            
                <a href="colors--aqua.html">
                    <span>Aqua</span>
                </a>, 
            
                <a href="colors--aqua-dark.html">
                    <span>Aqua Dark</span>
                </a>, 
            
                <a href="colors--aqua-light.html">
                    <span>Aqua Light</span>
                </a>, 
            
                <a href="colors--lime.html">
                    <span>Lime</span>
                </a>, 
            
                <a href="colors--lime-dark.html">
                    <span>Lime Dark</span>
                </a>, 
            
                <a href="colors--lime-light.html">
                    <span>Lime Light</span>
                </a>, 
            
                <a href="colors--orange.html">
                    <span>Orange</span>
                </a>, 
            
                <a href="colors--orange-dark.html">
                    <span>Orange Dark</span>
                </a>, 
            
                <a href="colors--orange-light.html">
                    <span>Orange Light</span>
                </a>, 
            
                <a href="colors--purple.html">
                    <span>Purple</span>
                </a>, 
            
                <a href="colors--purple-dark.html">
                    <span>Purple Dark</span>
                </a>, 
            
                <a href="colors--purple-medium.html">
                    <span>Purple Medium</span>
                </a>, 
            
                <a href="colors--purple-light.html">
                    <span>Purple Light</span>
                </a>, 
            
                <a href="colors--red.html">
                    <span>Red</span>
                </a>, 
            
                <a href="colors--cb-gradient-dark.html">
                    <span>Cb Gradient Dark</span>
                </a>, 
            
                <a href="colors--cb-gradient-medium.html">
                    <span>Cb Gradient Medium</span>
                </a>, 
            
                <a href="colors--cb-gradient-light.html">
                    <span>Cb Gradient Light</span>
                </a>, 
            
                <a href="colors--dayaftertomorrow-dark.html">
                    <span>Dayaftertomorrow Dark</span>
                </a>, 
            
                <a href="colors--dayaftertomorrow-medium.html">
                    <span>Dayaftertomorrow Medium</span>
                </a>, 
            
                <a href="colors--dayaftertomorrow-light.html">
                    <span>Dayaftertomorrow Light</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/colors--azure-blue.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/colors--azure-blue.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">sass/directives/00_variables/colors/colors.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-2386e2cd74ac4db4c883c89629b30640-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>See ‘Context’ for color usage notes</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-directives">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Directives</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-00_variables">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>00 Variables</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-animations">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Animations</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-base.html" data-pjax>
                <span>Transition Base</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-slow-fade.html" data-pjax>
                <span>Transition Element Slow Fade</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-spin.html" data-pjax>
                <span>Transition Element Spin</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-popup.html" data-pjax>
                <span>Transition Popup</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-toggle-button.html" data-pjax>
                <span>Transition Toggle Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="colors.html" data-pjax>
                <span>Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography.html" data-pjax>
                <span>Typography</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-01_tools">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>01 Tools</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flashes.html" data-pjax>
                <span>Flashes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-02_base_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>02 Base Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accents.html" data-pjax>
                <span>Accents</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="boxes.html" data-pjax>
                <span>Boxes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="forms.html" data-pjax>
                <span>Forms</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gradients.html" data-pjax>
                <span>Gradients</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headings.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="modals.html" data-pjax>
                <span>Modals</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pagination.html" data-pjax>
                <span>Pagination</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="price_per_time.html" data-pjax>
                <span>Price Per Time</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tabs.html" data-pjax>
                <span>Tabs</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="toggles.html" data-pjax>
                <span>Toggles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-03_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>03 Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="card_group.html" data-pjax>
                <span>Card Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="cards.html" data-pjax>
                <span>Cards</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="carousels.html" data-pjax>
                <span>Carousels</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="features_list.html" data-pjax>
                <span>Features List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flyout.html" data-pjax>
                <span>Flyout</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headers.html" data-pjax>
                <span>Headers</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_quad.html" data-pjax>
                <span>Layout Quad</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_split.html" data-pjax>
                <span>Layout Split</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="media.html" data-pjax>
                <span>Media</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="speech_bubble.html" data-pjax>
                <span>Speech Bubble</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tables.html" data-pjax>
                <span>Tables</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tooltips.html" data-pjax>
                <span>Tooltips</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="visual_guides.html" data-pjax>
                <span>Visual Guides</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/tools.html" data-pjax>
                <span>Tools</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
