<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.0" type="text/css">


<title>Gradients: Soylentgreen | Employer Style Base Pattern Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Employer Style Base Pattern Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-c55c7ec14bed4b0495c889202c9148fa">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/gradients--soylentgreen.html" title="Component preview">
            Gradients: Soylentgreen
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-c55c7ec14bed4b0495c889202c9148fa">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/gradients--soylentgreen.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style="padding: 30px !important; background-color: white !important; color: #666666 !important; font-family: Lato !important; "
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-c55c7ec14bed4b0495c889202c9148fa">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-c55c7ec14bed4b0495c889202c9148fa-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-c55c7ec14bed4b0495c889202c9148fa-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-c55c7ec14bed4b0495c889202c9148fa-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-c55c7ec14bed4b0495c889202c9148fa-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-c55c7ec14bed4b0495c889202c9148fa-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-c55c7ec14bed4b0495c889202c9148fa-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-c55c7ec14bed4b0495c889202c9148fa-panel-html">
    <code class="Code Code--lang-html">
        
        <pre><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"soylentGreenGradient"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"height: 100px;"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
Soylent Green</pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-c55c7ec14bed4b0495c889202c9148fa-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"><span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">"</span></span></span><span class="hljs-template-variable">{{ gradient-class }}</span><span class="xml"><span class="hljs-tag"><span class="hljs-string">"</span> <span class="hljs-attr">style</span>=<span class="hljs-string">"height: 100px;"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>
</span><span class="hljs-template-variable">{{ gradient-name }}</span><span class="xml"></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-c55c7ec14bed4b0495c889202c9148fa-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre>{
  <span class="hljs-attr">"order"</span>: <span class="hljs-number">1</span>,
  <span class="hljs-attr">"gradient-name"</span>: <span class="hljs-string">"Soylent Green"</span>,
  <span class="hljs-attr">"gradient-class"</span>: <span class="hljs-string">"soylentGreenGradient"</span>
}</pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-c55c7ec14bed4b0495c889202c9148fa-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-9021ede40c64a496cd5c44fae4a27ec7">_gradients.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-9021ede40c64a496cd5c44fae4a27ec7" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre><span class="hljs-comment">// ## Gradient Color Sets ##</span>

<span class="hljs-variable">$cb</span>: (
  dark: <span class="hljs-variable">$cb-gradient-dark</span>,
  medium: <span class="hljs-variable">$cb-gradient-medium</span>,
  light: <span class="hljs-variable">$cb-gradient-light</span>
);

<span class="hljs-variable">$rogueOne</span>: (
  dark: <span class="hljs-variable">$anchor-blue</span>,
  medium: <span class="hljs-variable">$azure-blue-dark</span>,
  light: <span class="hljs-variable">$azure-blue</span>
);

<span class="hljs-variable">$dayAfterTomorrow</span>: (
  dark: <span class="hljs-variable">$dayAfterTomorrow-dark</span>,
  medium: <span class="hljs-variable">$dayAfterTomorrow-medium</span>,
  light: <span class="hljs-variable">$dayAfterTomorrow-light</span>
);

<span class="hljs-variable">$cloverfield</span>: (
  dark: <span class="hljs-variable">$cb-gradient-dark</span>,
  medium: <span class="hljs-variable">$emerald</span>,
  light: <span class="hljs-variable">$emerald-light</span>
);

<span class="hljs-variable">$soylentGreen</span>: (
  dark: <span class="hljs-variable">$lime-dark</span>,
  medium: <span class="hljs-variable">$lime</span>,
  light:  <span class="hljs-variable">$teal-light</span>
);

<span class="hljs-variable">$gobletOfFire</span>: (
  dark: <span class="hljs-variable">$orange-dark</span>,
  medium: <span class="hljs-variable">$marigold-dark</span>,
  light:  <span class="hljs-variable">$marigold-light</span>
);

<span class="hljs-variable">$purpleRain</span>: (
  dark: <span class="hljs-variable">$purple-dark</span>,
  medium: <span class="hljs-variable">$purple-medium</span>,
  light: <span class="hljs-variable">$purple-light</span>
);

<span class="hljs-variable">$moonlight</span>: (
  dark: <span class="hljs-variable">$purple-dark</span>,
  medium: <span class="hljs-variable">$purple-medium</span>,
  light: <span class="hljs-variable">$teal</span>
);

<span class="hljs-variable">$lostWorld</span>: (
  dark: <span class="hljs-variable">$emerald-dark</span>,
  medium: <span class="hljs-variable">$emerald</span>,
  light: <span class="hljs-variable">$lime</span>
);

<span class="hljs-variable">$gradient_name_list</span>: (
  cb,
  rogueOne,
  dayAfterTomorrow,
  cloverfield,
  soylentGreen,
  gobletOfFire,
  purpleRain,
  moonlight,
  lostWorld,
);

<span class="hljs-variable">$gradient_var_list</span>: (
  <span class="hljs-variable">$cb</span>,
  <span class="hljs-variable">$rogueOne</span>,
  <span class="hljs-variable">$dayAfterTomorrow</span>,
  <span class="hljs-variable">$cloverfield</span>,
  <span class="hljs-variable">$soylentGreen</span>,
  <span class="hljs-variable">$gobletOfFire</span>,
  <span class="hljs-variable">$purpleRain</span>,
  <span class="hljs-variable">$moonlight</span>,
  <span class="hljs-variable">$lostWorld</span>,
);

<span class="hljs-variable">$gradient-angle</span>: <span class="hljs-number">135deg</span>;

<span class="hljs-comment">// ## Gradient Mixins ##</span>

@<span class="hljs-keyword">mixin</span> gradient(<span class="hljs-variable">$dark</span>, <span class="hljs-variable">$medium</span>, <span class="hljs-variable">$light</span>) {
  <span class="hljs-attribute">background</span>: <span class="hljs-variable">$dark</span>; <span class="hljs-comment">// Old browsers</span>
  <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-variable">$gradient-angle</span>, <span class="hljs-variable">$dark</span> <span class="hljs-number">0%</span>, <span class="hljs-variable">$medium</span> <span class="hljs-number">35%</span>, <span class="hljs-variable">$light</span> <span class="hljs-number">100%</span>);
}

@<span class="hljs-keyword">mixin</span> gradientTransparent(<span class="hljs-variable">$dark</span>, <span class="hljs-variable">$medium</span>, <span class="hljs-variable">$light</span>, <span class="hljs-variable">$transparency</span>: 0.9) {
  <span class="hljs-attribute">background</span>: <span class="hljs-variable">$dark</span>; <span class="hljs-comment">// Old browsers</span>
  <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-variable">$gradient-angle</span>, <span class="hljs-variable">$dark</span> <span class="hljs-number">0%</span>, <span class="hljs-variable">$medium</span> <span class="hljs-number">35%</span>, transparentize(<span class="hljs-variable">$light</span>, <span class="hljs-variable">$transparency</span>) <span class="hljs-number">100%</span>);
}

@<span class="hljs-keyword">mixin</span> imageGradientBlend(<span class="hljs-variable">$img-url</span>, <span class="hljs-variable">$dark</span>, <span class="hljs-variable">$medium</span>, <span class="hljs-variable">$light</span>, <span class="hljs-variable">$blend-mode</span>: multiply) {
  <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$light</span>;
  <span class="hljs-attribute">background-image</span>:
    linear-gradient(<span class="hljs-variable">$gradient-angle</span>, rgba(<span class="hljs-variable">$dark</span>, <span class="hljs-number">0.8</span>), rgba(<span class="hljs-variable">$medium</span>, <span class="hljs-number">0.75</span>), rgba(<span class="hljs-variable">$light</span>, <span class="hljs-number">0.2</span>)),
    url(<span class="hljs-variable">$img-url</span>);
  <span class="hljs-attribute">background-blend-mode</span>: <span class="hljs-variable">$blend-mode</span>;

  <span class="hljs-comment">// Our convention is to use a blend mode and fixed attachment for gradients + patterned image, not for gradient + photo image. This applies the appropriate attachment and image fallback based on whether or not a blend mode was intended and unsets blend mode for browsers/devices where it doesn't work.</span>
  <span class="hljs-variable">$is-blend-mode-unset</span>: <span class="hljs-variable">$blend-mode</span> == unset or <span class="hljs-variable">$blend-mode</span> == <span class="hljs-string">'unset'</span> or <span class="hljs-variable">$blend-mode</span> == none or <span class="hljs-variable">$blend-mode</span> == <span class="hljs-string">'none'</span>;

  @<span class="hljs-keyword">if</span> <span class="hljs-variable">$is-blend-mode-unset</span> {
    <span class="hljs-attribute">background-attachment</span>: inherit;
  } @<span class="hljs-keyword">else</span> {
    <span class="hljs-attribute">background-attachment</span>: fixed;
  }

  <span class="hljs-selector-tag">html</span><span class="hljs-selector-attr">[data-useragent*='Windows NT']</span>:not(<span class="hljs-selector-attr">[data-useragent*='Edge']</span>) &amp;,
  <span class="hljs-selector-tag">html</span><span class="hljs-selector-attr">[data-useragent*='iPhone']</span> &amp; {
    <span class="hljs-attribute">background-blend-mode</span>: unset;
    @<span class="hljs-keyword">if</span> not(<span class="hljs-variable">$is-blend-mode-unset</span>) {
      <span class="hljs-attribute">background</span>: linear-gradient(<span class="hljs-variable">$gradient-angle</span>, <span class="hljs-variable">$dark</span> <span class="hljs-number">0%</span>, <span class="hljs-variable">$medium</span> <span class="hljs-number">35%</span>, <span class="hljs-variable">$light</span> <span class="hljs-number">100%</span>);
    }
  }
}

<span class="hljs-comment">// ## Gradient Implementation ##</span>

@<span class="hljs-keyword">mixin</span> cbGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$cb</span>, dark), map-get(<span class="hljs-variable">$cb</span>, medium), map-get(<span class="hljs-variable">$cb</span>, light));
}

@<span class="hljs-keyword">mixin</span> cbGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$cb</span>, dark), map-get(<span class="hljs-variable">$cb</span>, medium), map-get(<span class="hljs-variable">$cb</span>, light));
}

@<span class="hljs-keyword">mixin</span> rogueOneGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$rogueOne</span>, dark), map-get(<span class="hljs-variable">$rogueOne</span>, medium), map-get(<span class="hljs-variable">$rogueOne</span>, light));
}

@<span class="hljs-keyword">mixin</span> rogueOneGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$rogueOne</span>, dark), map-get(<span class="hljs-variable">$rogueOne</span>, medium), map-get(<span class="hljs-variable">$rogueOne</span>, light));
}

@<span class="hljs-keyword">mixin</span> cloverfieldGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$cloverfield</span>, dark), map-get(<span class="hljs-variable">$cloverfield</span>, medium), map-get(<span class="hljs-variable">$cloverfield</span>, light));
}

@<span class="hljs-keyword">mixin</span> cloverfieldGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$cloverfield</span>, dark), map-get(<span class="hljs-variable">$cloverfield</span>, medium), map-get(<span class="hljs-variable">$cloverfield</span>, light));
}

@<span class="hljs-keyword">mixin</span> gobletOfFireGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$gobletOfFire</span>, dark), map-get(<span class="hljs-variable">$gobletOfFire</span>, medium), map-get(<span class="hljs-variable">$gobletOfFire</span>, light));
}

@<span class="hljs-keyword">mixin</span> gobletOfFireGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$gobletOfFire</span>, dark), map-get(<span class="hljs-variable">$gobletOfFire</span>, medium), map-get(<span class="hljs-variable">$gobletOfFire</span>, light));
}

@<span class="hljs-keyword">mixin</span> soylentGreenGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$soylentGreen</span>, dark), map-get(<span class="hljs-variable">$soylentGreen</span>, medium), map-get(<span class="hljs-variable">$soylentGreen</span>, light));
}

@<span class="hljs-keyword">mixin</span> soylentGreenGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$soylentGreen</span>, dark), map-get(<span class="hljs-variable">$soylentGreen</span>, medium), map-get(<span class="hljs-variable">$soylentGreen</span>, light));
}

@<span class="hljs-keyword">mixin</span> purpleRainGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$purpleRain</span>, dark), map-get(<span class="hljs-variable">$purpleRain</span>, medium), map-get(<span class="hljs-variable">$purpleRain</span>, light));
}

@<span class="hljs-keyword">mixin</span> purpleRainGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$purpleRain</span>, dark), map-get(<span class="hljs-variable">$purpleRain</span>, medium), map-get(<span class="hljs-variable">$purpleRain</span>, light));
}

@<span class="hljs-keyword">mixin</span> dayAfterTomorrowGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$dayAfterTomorrow</span>, dark), map-get(<span class="hljs-variable">$dayAfterTomorrow</span>, medium), map-get(<span class="hljs-variable">$dayAfterTomorrow</span>, light));
}

@<span class="hljs-keyword">mixin</span> dayAfterTomorrowGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$dayAfterTomorrow</span>, dark), map-get(<span class="hljs-variable">$dayAfterTomorrow</span>, medium), map-get(<span class="hljs-variable">$dayAfterTomorrow</span>, light));
}

@<span class="hljs-keyword">mixin</span> moonlightGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$moonlight</span>, dark), map-get(<span class="hljs-variable">$moonlight</span>, medium), map-get(<span class="hljs-variable">$moonlight</span>, light));
}

@<span class="hljs-keyword">mixin</span> moonlightGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$moonlight</span>, dark), map-get(<span class="hljs-variable">$moonlight</span>, medium), map-get(<span class="hljs-variable">$moonlight</span>, light));
}

@<span class="hljs-keyword">mixin</span> lostWorldGradient {
  @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$lostWorld</span>, dark), map-get(<span class="hljs-variable">$lostWorld</span>, medium), map-get(<span class="hljs-variable">$lostWorld</span>, light));
}

@<span class="hljs-keyword">mixin</span> lostWorldGradientTransparent {
  @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$lostWorld</span>, dark), map-get(<span class="hljs-variable">$lostWorld</span>, medium), map-get(<span class="hljs-variable">$lostWorld</span>, light));
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/gradients/_gradients.scss"><span>/components/raw/gradients/_gradients.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">sass/directives/02_base_components/gradients/_gradients.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">5.4 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-c55c7ec14bed4b0495c889202c9148fa-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@gradients--soylentgreen</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Variants <em class="Meta-count">(9)</em>:</strong>
            <span class="Meta-value Meta-value--linkList">
            
                <a href="gradients--cb.html">
                    <span>Cb</span>
                </a>, 
            
                <a href="gradients--rogueone.html">
                    <span>Rogueone</span>
                </a>, 
            
                <a href="gradients--cloverfield.html">
                    <span>Cloverfield</span>
                </a>, 
            
                <a href="gradients--gobletoffire.html">
                    <span>Gobletoffire</span>
                </a>, 
            
                <a href="">
                    <span>Soylentgreen</span>
                </a>, 
            
                <a href="gradients--purplerain.html">
                    <span>Purplerain</span>
                </a>, 
            
                <a href="gradients--dayaftertomorrow.html">
                    <span>Dayaftertomorrow</span>
                </a>, 
            
                <a href="gradients--moonlight.html">
                    <span>Moonlight</span>
                </a>, 
            
                <a href="gradients--lostworld.html">
                    <span>Lostworld</span>
                </a>
            
            </span>
        </li>
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/gradients--soylentgreen.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/gradients--soylentgreen.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">sass/directives/02_base_components/gradients/gradients.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-c55c7ec14bed4b0495c889202c9148fa-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>TODO - example of transparent gradient, add color values</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-directives">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Directives</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-00_variables">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>00 Variables</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-animations">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Animations</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-base.html" data-pjax>
                <span>Transition Base</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-slow-fade.html" data-pjax>
                <span>Transition Element Slow Fade</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-spin.html" data-pjax>
                <span>Transition Element Spin</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-popup.html" data-pjax>
                <span>Transition Popup</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-toggle-button.html" data-pjax>
                <span>Transition Toggle Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="colors.html" data-pjax>
                <span>Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography.html" data-pjax>
                <span>Typography</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-01_tools">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>01 Tools</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flashes.html" data-pjax>
                <span>Flashes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-02_base_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>02 Base Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accents.html" data-pjax>
                <span>Accents</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="boxes.html" data-pjax>
                <span>Boxes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="forms.html" data-pjax>
                <span>Forms</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gradients.html" data-pjax>
                <span>Gradients</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headings.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="modals.html" data-pjax>
                <span>Modals</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pagination.html" data-pjax>
                <span>Pagination</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="price_per_time.html" data-pjax>
                <span>Price Per Time</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tabs.html" data-pjax>
                <span>Tabs</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="toggles.html" data-pjax>
                <span>Toggles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-03_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>03 Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="card_group.html" data-pjax>
                <span>Card Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="cards.html" data-pjax>
                <span>Cards</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="carousels.html" data-pjax>
                <span>Carousels</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="features_list.html" data-pjax>
                <span>Features List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flyout.html" data-pjax>
                <span>Flyout</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headers.html" data-pjax>
                <span>Headers</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_quad.html" data-pjax>
                <span>Layout Quad</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_split.html" data-pjax>
                <span>Layout Split</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="media.html" data-pjax>
                <span>Media</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="speech_bubble.html" data-pjax>
                <span>Speech Bubble</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tables.html" data-pjax>
                <span>Tables</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tooltips.html" data-pjax>
                <span>Tooltips</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="visual_guides.html" data-pjax>
                <span>Visual Guides</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/tools.html" data-pjax>
                <span>Tools</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
