<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.0" type="text/css">


<title>Headers | Employer Style Base Pattern Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Employer Style Base Pattern Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-6dbc333cf64a1c8c84afe328c94ca63f">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/headers.html" title="Component preview">
            Headers
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-6dbc333cf64a1c8c84afe328c94ca63f">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/headers.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style="padding: 30px !important; background-color: white !important; color: #666666 !important; font-family: Lato !important; "
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-6dbc333cf64a1c8c84afe328c94ca63f">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-html">
    <code class="Code Code--lang-html">
        
        <pre></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre><span class="hljs-comment">/* No context defined for this component. */</span></pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-11c4a37f6619e14e619d75381a097af7">_headers.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-11c4a37f6619e14e619d75381a097af7" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre>@<span class="hljs-keyword">mixin</span> header-hero {
  <span class="hljs-attribute">position</span>: relative;
  <span class="hljs-attribute">overflow</span>: hidden;
  <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$base-background-color</span>;

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
    @<span class="hljs-keyword">include</span> display(flex);
    @<span class="hljs-keyword">include</span> align-items(center);
  }

  &amp;__text {
    @<span class="hljs-keyword">include</span> display(flex);
    @<span class="hljs-keyword">include</span> flex-direction(column);
    @<span class="hljs-keyword">include</span> justify-content(center);
    @<span class="hljs-keyword">include</span> align-items(flex-start);
    <span class="hljs-attribute">position</span>: absolute; <span class="hljs-comment">// TODO this is all specific to background image + gradients</span>
    <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">100%</span>;
    <span class="hljs-attribute">padding-top</span>: <span class="hljs-variable">$header-padding</span>;
    <span class="hljs-attribute">padding-bottom</span>: <span class="hljs-variable">$header-padding</span>;

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
      <span class="hljs-attribute">position</span>: relative;
      <span class="hljs-attribute">padding-top</span>: <span class="hljs-variable">$header-top-bottom-padding</span>;
      <span class="hljs-attribute">padding-bottom</span>: <span class="hljs-variable">$header-top-bottom-padding</span>;
    }

    <span class="hljs-selector-tag">h1</span> {
      <span class="hljs-attribute">margin-top</span>: <span class="hljs-number">0</span>;
      <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-variable">$header-headline-bottom-margin</span>;
      <span class="hljs-attribute">line-height</span>: normal;
      <span class="hljs-attribute">color</span>: <span class="hljs-variable">$hero-text-color-light</span>;

      @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
        <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">0</span>;
      }
    }

    <span class="hljs-selector-tag">p</span> {
      <span class="hljs-attribute">max-width</span>: <span class="hljs-number">28em</span>;
      <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">0</span>;
      <span class="hljs-attribute">color</span>: <span class="hljs-variable">$hero-text-color-light</span>;
    }
  }
}

@<span class="hljs-keyword">mixin</span> header-hero--home(<span class="hljs-variable">$background-image-large</span>: nil, <span class="hljs-variable">$background-image-medium</span>: nil) {
  @<span class="hljs-keyword">include</span> heading--hero;
  <span class="hljs-attribute">position</span>: relative;
  <span class="hljs-attribute">min-height</span>: <span class="hljs-variable">$header-height-home</span>;
  <span class="hljs-attribute">overflow</span>: hidden;
  <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$base-background-color</span>;
  <span class="hljs-attribute">background-image</span>: url(asset_path(#{<span class="hljs-variable">$background-image-large</span>}));
  <span class="hljs-attribute">background-size</span>: auto <span class="hljs-variable">$header-height-home</span>;
  <span class="hljs-attribute">background-position</span>: right bottom;
  <span class="hljs-attribute">background-repeat</span>: repeat no-repeat;

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$medium-screen-max</span>) {
    <span class="hljs-attribute">background-image</span>: url(asset_path(#{<span class="hljs-variable">$background-image-medium</span>}));
  }

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
    @<span class="hljs-keyword">include</span> display(flex);
    @<span class="hljs-keyword">include</span> align-items(center);
    <span class="hljs-attribute">background-size</span>: cover;
  }

  &amp;:before {
    <span class="hljs-attribute">content</span>: <span class="hljs-string">""</span>;
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">bottom</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
    @<span class="hljs-keyword">include</span> dayAfterTomorrowGradientTransparent;
  }

  &amp;__text {
    @<span class="hljs-keyword">include</span> display(flex);
    @<span class="hljs-keyword">include</span> flex-direction(column);
    @<span class="hljs-keyword">include</span> justify-content(center);
    @<span class="hljs-keyword">include</span> align-items(flex-start);
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">100%</span>;
    <span class="hljs-attribute">padding-top</span>: <span class="hljs-variable">$base-margin</span>;
    <span class="hljs-attribute">padding-bottom</span>: <span class="hljs-variable">$base-margin</span>;

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
      <span class="hljs-attribute">position</span>: relative;
    }

    <span class="hljs-selector-tag">h1</span> {
      <span class="hljs-attribute">margin-top</span>: <span class="hljs-number">0</span>;
      <span class="hljs-attribute">line-height</span>: normal;
      <span class="hljs-attribute">color</span>: <span class="hljs-variable">$hero-text-color-dark</span>;
    }

    <span class="hljs-selector-tag">p</span> {
      <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">0</span>;
      <span class="hljs-attribute">color</span>: <span class="hljs-variable">$hero-text-color-dark</span>;
    }
  }
}

@<span class="hljs-keyword">mixin</span> header--large--background-image(<span class="hljs-variable">$background-image-large</span>: nil, <span class="hljs-variable">$background-image-medium</span>: nil) {
  @<span class="hljs-keyword">include</span> header-hero;
  @<span class="hljs-keyword">include</span> heading--hero;
  <span class="hljs-attribute">min-height</span>: <span class="hljs-variable">$header-height-large</span>;
  <span class="hljs-attribute">background-image</span>: url(asset_path(#{<span class="hljs-variable">$background-image-large</span>}));
  <span class="hljs-attribute">background-size</span>: auto <span class="hljs-variable">$header-height-large</span>;
  <span class="hljs-attribute">background-position</span>: right bottom;
  <span class="hljs-attribute">background-repeat</span>: repeat no-repeat;

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$medium-screen-max</span>) {
    <span class="hljs-attribute">background-image</span>: url(asset_path(#{<span class="hljs-variable">$background-image-medium</span>}));
  }

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
    <span class="hljs-attribute">min-height</span>: unset;
  }

  &amp;:before {
    <span class="hljs-attribute">content</span>: <span class="hljs-string">""</span>;
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">bottom</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
    @<span class="hljs-keyword">include</span> cbGradientTransparent;
  }
}

@<span class="hljs-keyword">mixin</span> header--extra-large(<span class="hljs-variable">$background-image-large</span>: nil, <span class="hljs-variable">$background-image-medium</span>: nil, <span class="hljs-variable">$gradient-variable</span>: <span class="hljs-variable">$cb</span>) {
  @<span class="hljs-keyword">include</span> header-hero;
  <span class="hljs-attribute">min-height</span>: <span class="hljs-variable">$header-height-xl</span>;
  <span class="hljs-attribute">background-image</span>: url(asset_path(#{<span class="hljs-variable">$background-image-large</span>}));
  <span class="hljs-attribute">background-size</span>: auto <span class="hljs-variable">$header-height-xl</span>;
  <span class="hljs-attribute">background-position</span>: right bottom;
  <span class="hljs-attribute">background-repeat</span>: repeat no-repeat;

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$medium-screen-max</span>) {
    <span class="hljs-attribute">background-image</span>: url(asset_path(#{<span class="hljs-variable">$background-image-medium</span>}));
  }

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
    <span class="hljs-attribute">min-height</span>: unset;
  }

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
    <span class="hljs-attribute">background-image</span>: none;
    <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$base-spacing-xlarge</span> <span class="hljs-number">0</span>;
  }

  &amp;:before {
    <span class="hljs-attribute">content</span>: <span class="hljs-string">""</span>;
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">bottom</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
    @<span class="hljs-keyword">include</span> gradientTransparent(map-get(<span class="hljs-variable">$gradient-variable</span>, dark), map-get(<span class="hljs-variable">$gradient-variable</span>, medium), map-get(<span class="hljs-variable">$gradient-variable</span>, light));

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
      @<span class="hljs-keyword">include</span> gradient(map-get(<span class="hljs-variable">$gradient-variable</span>, dark), map-get(<span class="hljs-variable">$gradient-variable</span>, medium), map-get(<span class="hljs-variable">$gradient-variable</span>, light));
    }
  }

  &amp;__text {
    @<span class="hljs-keyword">include</span> heading--hero--xl;
    <span class="hljs-attribute">text-align</span>: center;
    <span class="hljs-attribute">align-items</span>: center;
  }
}

@<span class="hljs-keyword">mixin</span> header--large--side-image {
  @<span class="hljs-keyword">include</span> heading--hero;
  @<span class="hljs-keyword">include</span> cbGradient;
  <span class="hljs-attribute">position</span>: relative;
  <span class="hljs-attribute">overflow</span>: hidden;
  <span class="hljs-attribute">min-height</span>: <span class="hljs-variable">$header-height-large</span>;

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
    <span class="hljs-attribute">min-height</span>: unset;
  }

  &amp;__content-wrap {
    @<span class="hljs-keyword">include</span> display(flex);
    @<span class="hljs-keyword">include</span> justify-content(space-between);
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">right</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
    <span class="hljs-attribute">height</span>: <span class="hljs-number">100%</span>;

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
      <span class="hljs-attribute">position</span>: relative;
    }
  }

  &amp;__text {
    @<span class="hljs-keyword">include</span> flex-grow(<span class="hljs-number">1</span>);
    @<span class="hljs-keyword">include</span> flex-shrink(<span class="hljs-number">1</span>);
    @<span class="hljs-keyword">include</span> flex-basis(auto);
    @<span class="hljs-keyword">include</span> display(flex);
    @<span class="hljs-keyword">include</span> flex-direction(column);
    @<span class="hljs-keyword">include</span> justify-content(center);
    @<span class="hljs-keyword">include</span> align-items(flex-start);
    <span class="hljs-attribute">margin-right</span>: <span class="hljs-variable">$base-spacing-medium</span>;
    <span class="hljs-attribute">padding-top</span>: <span class="hljs-variable">$header-padding</span>;
    <span class="hljs-attribute">padding-bottom</span>: <span class="hljs-variable">$header-padding</span>;

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
      <span class="hljs-attribute">position</span>: relative;
      <span class="hljs-attribute">padding-top</span>: <span class="hljs-variable">$header-top-bottom-padding</span>;
      <span class="hljs-attribute">padding-bottom</span>: <span class="hljs-variable">$header-top-bottom-padding</span>;
    }

    <span class="hljs-selector-tag">h1</span> {
      <span class="hljs-attribute">margin-top</span>: <span class="hljs-number">0</span>;
      <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-variable">$header-headline-bottom-margin</span>;
      <span class="hljs-attribute">line-height</span>: normal;
      <span class="hljs-attribute">color</span>: <span class="hljs-variable">$hero-text-color-light</span>;

      @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
        <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">0</span>;
      }
    }

    <span class="hljs-selector-tag">p</span> {
      <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">0</span>;
      <span class="hljs-attribute">color</span>: <span class="hljs-variable">$hero-text-color-light</span>;
    }
  }

  <span class="hljs-selector-class">.header--large__image-wrap</span> {
    @<span class="hljs-keyword">include</span> flex-grow(<span class="hljs-number">1</span>);
    @<span class="hljs-keyword">include</span> flex-shrink(<span class="hljs-number">0</span>);
    @<span class="hljs-keyword">include</span> flex-basis(auto);
    @<span class="hljs-keyword">include</span> display(flex);
    @<span class="hljs-keyword">include</span> justify-content(flex-end);
    @<span class="hljs-keyword">include</span> align-items(flex-end);

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
      <span class="hljs-attribute">display</span>: none;
    }
  }

  <span class="hljs-selector-class">.header--large__image</span> {
    <span class="hljs-attribute">display</span>: block;
    <span class="hljs-attribute">max-width</span>: <span class="hljs-number">34.375rem</span>;
  }
}

@<span class="hljs-keyword">mixin</span> header--small {
  <span class="hljs-attribute">max-height</span>: <span class="hljs-variable">$header-height-small</span>;

  &amp;__headline {
    <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$header-padding</span> <span class="hljs-number">0</span>;
    <span class="hljs-attribute">max-width</span>: <span class="hljs-variable">$header-width-normal</span>;
    <span class="hljs-attribute">position</span>: relative;

    @<span class="hljs-keyword">include</span> heading--small;

    @<span class="hljs-keyword">media</span> only screen and (min-width: <span class="hljs-variable">$mobile-nav-max</span>) {
      <span class="hljs-attribute">max-height</span>: <span class="hljs-variable">$header-height-small</span>;
    }

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$medium-screen-max</span>) {
      <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$section-padding--mobile</span> <span class="hljs-number">0</span>;
    }
  }
}

<span class="hljs-comment">// Text alignment</span>

@<span class="hljs-keyword">mixin</span> header--large--left {
  &amp;__text {
    <span class="hljs-selector-tag">p</span> {
      @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
        <span class="hljs-attribute">display</span>: none;
      }
    }
  }

  &amp;:before {
    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
      @<span class="hljs-keyword">include</span> cbGradient;
    }
  }
}

@<span class="hljs-keyword">mixin</span> header--large--centered {
  &amp;__text {
    <span class="hljs-attribute">text-align</span>: center;
    <span class="hljs-attribute">align-items</span>: center;

    <span class="hljs-selector-tag">h1</span> {
      <span class="hljs-attribute">max-width</span>: <span class="hljs-number">32ch</span>;
    }

    <span class="hljs-selector-tag">p</span> {
      <span class="hljs-attribute">max-width</span>: <span class="hljs-number">65ch</span>;
    }
  }
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/headers/_headers.scss"><span>/components/raw/headers/_headers.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">sass/directives/03_components/headers/_headers.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">7.3 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@headers</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/headers.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/headers.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">sass/directives/03_components/headers/headers.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-6dbc333cf64a1c8c84afe328c94ca63f-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p>Make up to 3 sizes of header background images:</p>
<table>
<thead>
<tr>
<th>Size</th>
<th>Width</th>
<th>Height</th>
</tr>
</thead>
<tbody>
<tr>
<td>Large</td>
<td>original width or max 1600px</td>
<td>540px or 445px tall<sup>1</sup></td>
</tr>
<tr>
<td>Medium</td>
<td>1040px</td>
<td>540px or 445px tall<sup>1</sup></td>
</tr>
<tr>
<td>Small<sup>2</sup></td>
<td>650px</td>
<td>540px or 445px tall<sup>1</sup></td>
</tr>
</tbody>
</table>
<p><sup>1</sup> See Header Types and their heights in the <a href="https://cb-content-enablement.atlassian.net/wiki/spaces/CE/pages/43897344/Header+Audit+5+1+17">Header Audit Doc on Confluence</a>(<em>TODO: add that info here</em>)</p>
<p><sup>2</sup> Don’t create the small size if the image is meant to disappear on small screens</p>
<p>For <a href="https://github.com/cbdr/employer">Employer</a>, see <code>app/assets/images/headers</code> for image naming conventions</p>

        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-directives">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Directives</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-00_variables">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>00 Variables</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-animations">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Animations</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-base.html" data-pjax>
                <span>Transition Base</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-slow-fade.html" data-pjax>
                <span>Transition Element Slow Fade</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-spin.html" data-pjax>
                <span>Transition Element Spin</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-popup.html" data-pjax>
                <span>Transition Popup</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-toggle-button.html" data-pjax>
                <span>Transition Toggle Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="colors.html" data-pjax>
                <span>Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography.html" data-pjax>
                <span>Typography</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-01_tools">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>01 Tools</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flashes.html" data-pjax>
                <span>Flashes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-02_base_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>02 Base Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accents.html" data-pjax>
                <span>Accents</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="boxes.html" data-pjax>
                <span>Boxes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="forms.html" data-pjax>
                <span>Forms</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gradients.html" data-pjax>
                <span>Gradients</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headings.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="modals.html" data-pjax>
                <span>Modals</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pagination.html" data-pjax>
                <span>Pagination</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="price_per_time.html" data-pjax>
                <span>Price Per Time</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tabs.html" data-pjax>
                <span>Tabs</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="toggles.html" data-pjax>
                <span>Toggles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-03_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>03 Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="card_group.html" data-pjax>
                <span>Card Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="cards.html" data-pjax>
                <span>Cards</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="carousels.html" data-pjax>
                <span>Carousels</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="features_list.html" data-pjax>
                <span>Features List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flyout.html" data-pjax>
                <span>Flyout</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Headers</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_quad.html" data-pjax>
                <span>Layout Quad</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_split.html" data-pjax>
                <span>Layout Split</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="media.html" data-pjax>
                <span>Media</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="speech_bubble.html" data-pjax>
                <span>Speech Bubble</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tables.html" data-pjax>
                <span>Tables</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tooltips.html" data-pjax>
                <span>Tooltips</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="visual_guides.html" data-pjax>
                <span>Visual Guides</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/tools.html" data-pjax>
                <span>Tools</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
