<!DOCTYPE html>
<html lang="en" dir="ltr" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
    window.frctl = {
        env: 'static'
    };
    </script>
    <script>var cl = document.querySelector('html').classList; cl.remove('no-js'); cl.add('has-js');</script>
    <link rel="shortcut icon" href="../../themes/mandelbrot/favicon.ico" type="image/ico">

<link rel="stylesheet" href="../../themes/mandelbrot/css/default.css?cachebust=1.2.0" type="text/css">


<title>Tables | Employer Style Base Pattern Library</title>

</head>
<body>



<div class="Frame" id="frame">

    <div class="Frame-header">
        <div class="Header">
    <button class="Header-button Header-navToggle" data-action="toggle-sidebar">
        <svg class="Header-navToggleIcon Header-navToggleIcon--open" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 6.4L17.6 5 12 10.6 6.4 5 5 6.4 10.6 12 5 17.6 6.4 19 12 13.4 17.6 19 19 17.6 13.4 12z"/>
</svg>

        <svg class="Header-navToggleIcon Header-navToggleIcon--closed" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/>
</svg>

    </button>
    <a href="../../index.html" class="Header-title" data-pjax>Employer Style Base Pattern Library</a>
</div>

    </div>

    <div class="Frame-body" data-role="body">

        <div class="Frame-panel Frame-panel--main" data-role="main">
            <div class="Frame-inner" id="pjax-container">
            


    
    

<div class="Pen" data-behaviour="pen" id="pen-83a6408174d948e389dec0400d8795ca">

    

    <div class="Pen-panel Pen-header">
    <h1 class="Pen-title">
        <a class="Pen-previewLink" href="../preview/tables.html" title="Component preview">
            Tables
            <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>

        </a>
    </h1>
    

<div class="Status Status--tag">

<label class="Status-label" style="background-color: #29CC29; border-color: #29CC29;">Ready</label>

</div>


</div>


    <div class="Pen-panel Pen-preview Preview" data-behaviour="preview" id="preview-83a6408174d948e389dec0400d8795ca">
    <div class="Preview-wrapper" data-role="resizer">
        <div class="Preview-resizer">
            
             <iframe
                class="Preview-iframe"
                data-role="window"
                src="../preview/tables.html"
                sandbox="allow-same-origin allow-scripts allow-forms"
                 style="padding: 30px !important; background-color: white !important; color: #666666 !important; font-family: Lato !important; "
                marginwidth="0" marginheight="0" frameborder="0" vspace="0" hspace="0" scrolling="yes">
            </iframe>
        </div>
        <div class="Preview-handle" data-role="resize-handle"></div>
        <div class="Preview-overlay"></div>
    </div>
</div>


    <div class="Pen-handle Pen-handle--browser" data-role="resize-handle"></div>

    <div class="Pen-panel Pen-info" data-role="info">
    <div class="Browser" data-behaviour="browser" id="browser-83a6408174d948e389dec0400d8795ca">

    

<div class="Browser-controls">
    <ul class="Browser-tabs">
        
        
        <li class="Browser-tab Browser-tab--html is-active " data-role="tab">
            <a href="#browser-83a6408174d948e389dec0400d8795ca-panel-html">HTML</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--view" data-role="tab">
            <a href="#browser-83a6408174d948e389dec0400d8795ca-panel-view">View</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--context" data-role="tab">
            <a href="#browser-83a6408174d948e389dec0400d8795ca-panel-context">Context</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--resources" data-role="tab">
            <a href="#browser-83a6408174d948e389dec0400d8795ca-panel-assets">Assets</a>
        </li>
        
        
        
        
        
        <li class="Browser-tab Browser-tab--info" data-role="tab">
            <a href="#browser-83a6408174d948e389dec0400d8795ca-panel-info">Info</a>
        </li>
        
        
        
        <li class="Browser-tab Browser-tab--notes" data-role="tab">
            <a href="#browser-83a6408174d948e389dec0400d8795ca-panel-notes">Notes</a>
        </li>
        
        
    </ul>
</div>


    
    
<div class="Browser-panel Browser-code is-active" data-role="tab-panel" id="browser-83a6408174d948e389dec0400d8795ca-panel-html">
    <code class="Code Code--lang-html">
        
        <pre></pre>
        
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-83a6408174d948e389dec0400d8795ca-panel-view">
    <code class="Code Code--lang-handlebars">
        <pre><span class="xml"></span></pre>
    </code>
</div>

    
    <div class="Browser-panel Browser-code" data-role="tab-panel" id="browser-83a6408174d948e389dec0400d8795ca-panel-context">
    <code class="Code Code--lang-json">
        
            
            <pre><span class="hljs-comment">/* No context defined for this component. */</span></pre>
            
        
    </code>
</div>

    
    


<div class="Browser-panel Browser-resources" data-role="tab-panel" id="browser-83a6408174d948e389dec0400d8795ca-panel-assets">
    <div class="FileBrowser">

        <div class="FileBrowser-selectWrapper">
            <label class="FileBrowser-select-label" for="filebrowser-select">File:</label>
            <select class="FileBrowser-select" id="filebrowser-select">
                
                <option value="file-97c43b4c3a02af559543ad5634b18577">_tables.scss</option>
                
            </select>
        </div>

        
        <div class="FileBrowser-item is-active" id="file-97c43b4c3a02af559543ad5634b18577" data-role="resource-preview">
            <ul class="Meta">
                <li class="Meta-item">
                    <strong class="Meta-key">Content:</strong>
                    <span class="Meta-value">
                        <div class="FileBrowser-itemPreview">
                            
                            <code class="Code Code--lang-SCSS FileBrowser-code">
                                <pre>@<span class="hljs-keyword">mixin</span> table {
  <span class="hljs-attribute">display</span>: flex;
  <span class="hljs-attribute">flex-wrap</span>: wrap;
  <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span> <span class="hljs-number">0</span> <span class="hljs-variable">$table-margin</span> <span class="hljs-number">0</span>;
  <span class="hljs-attribute">padding</span>: <span class="hljs-number">0</span>;
}

@<span class="hljs-keyword">mixin</span> table__cell(<span class="hljs-variable">$columns</span>) {
  @<span class="hljs-keyword">include</span> calc(width, <span class="hljs-string">"100% / #{$columns}"</span>);

  <span class="hljs-attribute">border-bottom</span>: <span class="hljs-variable">$table-row-divider-width</span> solid <span class="hljs-variable">$table-row-divider-color</span>;
  <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$table-cell-padding-top-and-bottom</span> <span class="hljs-variable">$table-cell-padding-sides</span>;
  <span class="hljs-attribute">box-sizing</span>: border-box;
  <span class="hljs-attribute">flex-grow</span>: <span class="hljs-number">1</span>;
  <span class="hljs-attribute">overflow</span>: hidden; <span class="hljs-comment">// Or flex might break</span>
  <span class="hljs-attribute">list-style</span>: none;
  &gt; <span class="hljs-selector-tag">h1</span>, &gt; <span class="hljs-selector-tag">h2</span>, &gt; <span class="hljs-selector-tag">h3</span>, &gt; <span class="hljs-selector-tag">h4</span>, &gt; <span class="hljs-selector-tag">h5</span>, &gt; <span class="hljs-selector-tag">h6</span> { <span class="hljs-attribute">margin</span>: <span class="hljs-number">0</span>; }
}

@<span class="hljs-keyword">mixin</span> table__row--last {
  <span class="hljs-attribute">border-bottom</span>: none <span class="hljs-meta">!important</span>;
}

@<span class="hljs-keyword">mixin</span> table__header(<span class="hljs-variable">$columns</span>) {
  @<span class="hljs-keyword">include</span> table__cell(<span class="hljs-variable">$columns</span>);
  <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-header-background-color</span>;
  <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$table-header-padding</span>;
  <span class="hljs-attribute">border-bottom</span>: none;
}

@<span class="hljs-keyword">mixin</span> table__header--first(<span class="hljs-variable">$columns</span>) {
  @<span class="hljs-keyword">include</span> table__header(<span class="hljs-variable">$columns</span>);
  <span class="hljs-attribute">border-top-left-radius</span>: <span class="hljs-variable">$table-header-corner-radius</span>;
}

@<span class="hljs-keyword">mixin</span> table__header--last(<span class="hljs-variable">$columns</span>) {
  @<span class="hljs-keyword">include</span> table__header(<span class="hljs-variable">$columns</span>);
  <span class="hljs-attribute">border-top-right-radius</span>: <span class="hljs-variable">$table-header-corner-radius</span>;
}


<span class="hljs-comment">// Compare Charts</span>

@<span class="hljs-keyword">mixin</span> table--row-column-headers(<span class="hljs-variable">$table-caption-z-index</span>: 2) {
  <span class="hljs-attribute">border-collapse</span>: collapse;
  <span class="hljs-attribute">border-spacing</span>: <span class="hljs-variable">$table-border-spacing</span>;
  <span class="hljs-selector-tag">table</span>-layout: fixed;
  <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;

  <span class="hljs-selector-tag">caption</span> {
    <span class="hljs-attribute">position</span>: relative;
    <span class="hljs-attribute">z-index</span>: <span class="hljs-variable">$table-caption-z-index</span>;
    <span class="hljs-attribute">background</span>: <span class="hljs-variable">$panel-primary</span>;
    <span class="hljs-attribute">text-align</span>: left;
  }

  <span class="hljs-selector-tag">th</span>, <span class="hljs-selector-tag">td</span> {
    <span class="hljs-attribute">border</span>: <span class="hljs-variable">$base-border</span>;
  }

  <span class="hljs-selector-tag">th</span> {
    <span class="hljs-attribute">font-weight</span>: <span class="hljs-variable">$font-weight-bold</span>;
    <span class="hljs-attribute">text-transform</span>: uppercase;
    <span class="hljs-attribute">font-size</span>: <span class="hljs-number">0.9375rem</span>;
  }

  <span class="hljs-selector-tag">thead</span> <span class="hljs-selector-tag">th</span>:first-of-type {
    <span class="hljs-attribute">border</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">background-color</span>: transparent;

    @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$medium-screen-max</span>) {
      <span class="hljs-attribute">width</span>: <span class="hljs-number">14ch</span>;
    }
  }

  <span class="hljs-selector-tag">th</span><span class="hljs-selector-attr">[scope='col']</span> {
    <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$base-spacing-medium</span>;
    <span class="hljs-attribute">color</span>: white;
    <span class="hljs-attribute">text-align</span>: center;
    <span class="hljs-attribute">position</span>: relative;
    <span class="hljs-attribute">background-clip</span>: padding-box;
  }

  <span class="hljs-selector-tag">th</span><span class="hljs-selector-attr">[scope='row']</span> {
    @<span class="hljs-keyword">include</span> font-style--small-bold-uppercase;
    <span class="hljs-attribute">color</span>: <span class="hljs-variable">$text-color-dark</span>;
    <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$table--row-column-headers--row-top-bottom-padding</span> <span class="hljs-variable">$base-spacing-medium</span>;
    <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-row-th--background</span>;
    <span class="hljs-attribute">text-align</span>: left;

    <span class="hljs-selector-tag">small</span> {
      <span class="hljs-attribute">display</span>: block;
      <span class="hljs-attribute">font-size</span>: <span class="hljs-variable">$font-size-smallest</span>;
      <span class="hljs-attribute">font-weight</span>: <span class="hljs-variable">$font-weight-regular</span>;
      <span class="hljs-attribute">text-transform</span>: none;
    }
  }

  <span class="hljs-selector-tag">td</span> {
    <span class="hljs-attribute">position</span>: relative;
    <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$table--row-column-headers--row-top-bottom-padding</span> <span class="hljs-number">1.5rem</span>;
    <span class="hljs-attribute">color</span>: <span class="hljs-variable">$grey-demon</span>;
    <span class="hljs-attribute">text-align</span>: center;
    <span class="hljs-attribute">font-size</span>: <span class="hljs-variable">$font-size-small</span>;
  }

  <span class="hljs-selector-class">.button</span> {
    <span class="hljs-attribute">font-size</span>: <span class="hljs-variable">$font-size-small</span>;
  }
}


<span class="hljs-comment">/* table--row-column-headers--mobile: Adds 100vw wrap for mobile, calculates table width based on number of columns, adjusts pixels due to border-collapse: collapse. For use with Tab component. Expects Tab component is adjacent to table and reflects selected tab with class in .selectedTab--0 format
*/</span>
@<span class="hljs-keyword">mixin</span> table--row-column-headers--mobile(<span class="hljs-variable">$columns</span>) {
  <span class="hljs-variable">$length</span>: <span class="hljs-variable">$columns</span> - <span class="hljs-number">1</span>;

  <span class="hljs-attribute">width</span>: calc((#{<span class="hljs-variable">$columns</span>} * <span class="hljs-number">100%</span>) - (#{<span class="hljs-variable">$length</span>} * <span class="hljs-number">1px</span>));
  <span class="hljs-attribute">margin-left</span>: -<span class="hljs-variable">$container-edge-padding</span>;
  <span class="hljs-attribute">position</span>: relative;


  @<span class="hljs-keyword">for</span> <span class="hljs-variable">$i</span> from 0 through <span class="hljs-variable">$length</span> {
    <span class="hljs-selector-class">.selectedTab--</span>#{<span class="hljs-variable">$i</span>} + &amp; {
      <span class="hljs-attribute">left</span>: calc((#{<span class="hljs-variable">$i</span>} * -<span class="hljs-number">100%</span>) + #{<span class="hljs-variable">$container-edge-padding</span>} + (#{<span class="hljs-variable">$i</span>} * <span class="hljs-number">1px</span>));
    }
  }

  &amp;__wrap {
    <span class="hljs-attribute">width</span>: calc(<span class="hljs-number">100vw</span> - (#{<span class="hljs-variable">$container-edge-padding</span>} * <span class="hljs-number">2</span>));
    <span class="hljs-attribute">overflow</span>: hidden;
  }
}

@<span class="hljs-keyword">mixin</span> table--alternating-row-colors {
  <span class="hljs-selector-tag">tr</span>:nth-child(odd) {
    <span class="hljs-selector-tag">th</span>, <span class="hljs-selector-tag">td</span> {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-row-light</span>;
    }
  }

  <span class="hljs-selector-tag">tr</span>:nth-child(even) {
    <span class="hljs-selector-tag">th</span>, <span class="hljs-selector-tag">td</span> {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-row-dark</span>;
    }
  }
}

@<span class="hljs-keyword">mixin</span> table--alternating-row-colors--darkened-column {
  <span class="hljs-selector-tag">tbody</span> <span class="hljs-selector-tag">tr</span>:nth-child(odd) {
    <span class="hljs-selector-class">.darken</span> {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-row-light-promo</span>;
      <span class="hljs-attribute">font-weight</span>: <span class="hljs-variable">$font-weight-bold</span>;
    }
  }

  <span class="hljs-selector-tag">tbody</span> <span class="hljs-selector-tag">tr</span>:nth-child(even) {
    <span class="hljs-selector-class">.darken</span> {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-row-dark-promo</span>;
      <span class="hljs-attribute">font-weight</span>: <span class="hljs-variable">$font-weight-bold</span>;
    }
  }
}

@<span class="hljs-keyword">mixin</span> table__column-highlight(<span class="hljs-variable">$highlight-content</span>, <span class="hljs-variable">$table-highlight-z-index</span>) {
  <span class="hljs-attribute">overflow</span>: hidden;

  <span class="hljs-selector-tag">th</span>, <span class="hljs-selector-tag">td</span> {
    &amp;:hover:after,
    &amp;:active:after,
    &amp;:focus:after {
      <span class="hljs-attribute">content</span>: <span class="hljs-variable">$highlight-content</span>;
      <span class="hljs-attribute">position</span>: absolute;
      <span class="hljs-attribute">background-color</span>: rgba(<span class="hljs-variable">$grey-darkest</span>, <span class="hljs-number">0.1</span>);
      <span class="hljs-attribute">left</span>: <span class="hljs-number">0</span>;
      <span class="hljs-attribute">top</span>: -<span class="hljs-number">5000px</span>;
      <span class="hljs-attribute">height</span>: <span class="hljs-number">10000px</span>;
      <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
      <span class="hljs-attribute">z-index</span>: <span class="hljs-variable">$table-highlight-z-index</span>;
      <span class="hljs-attribute">pointer-events</span>: none;
    }

    <span class="hljs-selector-class">.button</span> {
      <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">1px</span>; <span class="hljs-comment">// overflow: hidden cuts off bottom of bottom-row buttons in Safari</span>
    }
  }

  <span class="hljs-comment">// Remove column highlight on first column</span>
  <span class="hljs-selector-tag">th</span><span class="hljs-selector-attr">[scope='row']</span>,
  <span class="hljs-selector-tag">thead</span> <span class="hljs-selector-tag">th</span>:first-of-type {
    &amp;:hover:after,
    &amp;:active:after,
    &amp;:focus:after {
      <span class="hljs-attribute">content</span>: none;
      <span class="hljs-attribute">display</span>: none;
    }
  }
}

@<span class="hljs-keyword">mixin</span> table__buttons-row {
  <span class="hljs-selector-tag">td</span> {
    <span class="hljs-attribute">background-color</span>: transparent;
    <span class="hljs-attribute">border</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$base-spacing-medium</span> <span class="hljs-number">0</span> <span class="hljs-number">0</span>;

    &amp;:hover:after,
    &amp;:active:after,
    &amp;:focus:after {
      <span class="hljs-attribute">content</span>: none <span class="hljs-meta">!important</span>;
      <span class="hljs-attribute">display</span>: none;
    }
  }
}

@<span class="hljs-keyword">mixin</span> table-data-icon {
  <span class="hljs-attribute">position</span>: relative;
  <span class="hljs-attribute">right</span>: <span class="hljs-number">9999px</span>;

  &amp;:after {
    <span class="hljs-attribute">position</span>: absolute;
    <span class="hljs-attribute">top</span>: <span class="hljs-number">50%</span>;
    <span class="hljs-attribute">right</span>: -<span class="hljs-number">9999px</span>;
    <span class="hljs-attribute">width</span>: <span class="hljs-number">100%</span>;
    <span class="hljs-attribute">font-size</span>: <span class="hljs-variable">$table-data-icon-size</span>;
    <span class="hljs-attribute">line-height</span>: <span class="hljs-number">0</span>;
    <span class="hljs-attribute">font-family</span>: FontAwesome;
    <span class="hljs-attribute">color</span>: <span class="hljs-variable">$lime-dark</span>;
  }

  &amp;--no:after {
    <span class="hljs-attribute">content</span>: <span class="hljs-string">'\f00d'</span>; <span class="hljs-comment">// X icon</span>
  }

  &amp;--yes:after {
    <span class="hljs-attribute">content</span>: <span class="hljs-string">'\f00c'</span>; <span class="hljs-comment">// Checkmark icon</span>
  }
}

<span class="hljs-comment">// Comapre Chart Modifiers</span>

@<span class="hljs-keyword">mixin</span> table--product(<span class="hljs-variable">$table-caption-z-index</span>: 2) {
  @<span class="hljs-keyword">include</span> table--row-column-headers(<span class="hljs-variable">$table-caption-z-index</span>);

  <span class="hljs-selector-tag">thead</span> {
    <span class="hljs-selector-tag">th</span>:nth-of-type(3n+2) {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-column-heading-1</span>;
    }

    <span class="hljs-selector-tag">th</span>:nth-of-type(3n+3) {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-column-heading-2</span>;
    }

    <span class="hljs-selector-tag">th</span>:nth-of-type(3n+4) {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-column-heading-3</span>;
    }

    <span class="hljs-selector-tag">th</span>:nth-of-type(3n+5) {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-column-heading-4</span>;
    }
  }
}

@<span class="hljs-keyword">mixin</span> table--ecom(<span class="hljs-variable">$table-caption-z-index</span>: 2) {
  @<span class="hljs-keyword">include</span> table--row-column-headers(<span class="hljs-variable">$table-caption-z-index</span>);

  <span class="hljs-selector-tag">thead</span> {
    <span class="hljs-selector-tag">th</span> {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$ecom-table-heading</span>;
    }

    <span class="hljs-selector-class">.darken</span> {
      <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$ecom-table-promo-heading</span>;
    }
  }
}

@<span class="hljs-keyword">mixin</span> section-bar(<span class="hljs-variable">$breakpoint</span>) {
  @<span class="hljs-keyword">include</span> font-style--med-bold-uppercase;
  <span class="hljs-attribute">border-radius</span>: <span class="hljs-variable">$minor-border-radius</span>;
  <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-variable">$section-padding</span>;
  <span class="hljs-attribute">padding</span>: <span class="hljs-variable">$base-margin</span>;
  <span class="hljs-attribute">background-color</span>: <span class="hljs-variable">$table-row-light</span>;
  <span class="hljs-attribute">line-height</span>: normal;

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$breakpoint</span>) {
    <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-number">0</span>;
  }

  @<span class="hljs-keyword">media</span> only screen and (max-width: <span class="hljs-variable">$small-screen-max</span>) {
    <span class="hljs-attribute">margin-bottom</span>: <span class="hljs-variable">$section-padding--mobile</span>;
  }
}
</pre>
                            </code>
                            
                        </div>
                    </span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">URL:</strong>
                    <span class="Meta-value"><a data-no-pjax href="../raw/tables/_tables.scss"><span>/components/raw/tables/_tables.scss</span></a></span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Filesystem Path:</strong>
                    <span class="Meta-value">sass/directives/03_components/tables/_tables.scss</span>
                </li>
                <li class="Meta-item">
                    <strong class="Meta-key">Size:</strong>
                    <span class="Meta-value">6.3 KB</span>
                </li>
            </ul>
        </div>
        
    </div>
</div>



    
    <div class="Browser-panel" data-role="tab-panel" id="browser-83a6408174d948e389dec0400d8795ca-panel-info">
    <ul class="Meta">
        <li class="Meta-item">
            <strong class="Meta-key">Handle:</strong>
            <span class="Meta-value">@tables</span>
        </li>
        
        
        
        
        
        <li class="Meta-item">
            <strong class="Meta-key">Preview:</strong>
            <span class="Meta-value">
                <ul>
                    <li><a data-no-pjax href="../preview/tables.html"><span>With layout</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                    <li><a data-no-pjax href="../render/tables.html"><span>Component only</span> <svg fill="#000000" height="22" viewBox="0 0 24 24" width="22" xmlns="http://www.w3.org/2000/svg">
    <path d="M0 0h24v24H0z" fill="none"/>
    <path d="M19 4H5c-1.11 0-2 .9-2 2v12c0 1.1.89 2 2 2h4v-2H5V8h14v10h-4v2h4c1.1 0 2-.9 2-2V6c0-1.1-.89-2-2-2zm-7 6l-4 4h3v6h2v-6h3l-4-4z"/>
</svg>
</a></li>
                </ul>
            </span>
        </li>
        <li class="Meta-item">
            <strong class="Meta-key">Filesystem Path:</strong>
            <span class="Meta-value">sass/directives/03_components/tables/tables.hbs</span>
        </li>
        
        
    </ul>
</div>

    
    <div class="Browser-panel Browser-notes" data-role="tab-panel" id="browser-83a6408174d948e389dec0400d8795ca-panel-notes">
    <div class="Prose Prose--condensed">
        
        <p class="Browser-isEmptyNote">There are no notes for this item.</p>
        
    </div>
</div>

    

</div>

</div>


    

</div>


            </div>
        </div>

        <div class="Frame-handle" data-role="frame-resize-handle"></div>
        
        <div class="Frame-panel Frame-panel--sidebar" data-role="sidebar">
            <nav class="Navigation">

    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-components">
    <h3 class="Tree-title">components</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-2" data-behaviour="collection" id="tree-components-collection-directives">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Directives</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-00_variables">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>00 Variables</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        <li class="Tree-item Tree-collection Tree-depth-4" data-behaviour="collection" id="tree-components-collection-animations">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>Animations</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-base.html" data-pjax>
                <span>Transition Base</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-slow-fade.html" data-pjax>
                <span>Transition Element Slow Fade</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-element-spin.html" data-pjax>
                <span>Transition Element Spin</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-popup.html" data-pjax>
                <span>Transition Popup</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="animations--transition-toggle-button.html" data-pjax>
                <span>Transition Toggle Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="colors.html" data-pjax>
                <span>Colors</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="typography.html" data-pjax>
                <span>Typography</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-01_tools">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>01 Tools</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flashes.html" data-pjax>
                <span>Flashes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-02_base_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>02 Base Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accents.html" data-pjax>
                <span>Accents</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="boxes.html" data-pjax>
                <span>Boxes</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="button.html" data-pjax>
                <span>Button</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="forms.html" data-pjax>
                <span>Forms</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="gradients.html" data-pjax>
                <span>Gradients</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headings.html" data-pjax>
                <span>Headings</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="modals.html" data-pjax>
                <span>Modals</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="pagination.html" data-pjax>
                <span>Pagination</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="price_per_time.html" data-pjax>
                <span>Price Per Time</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tabs.html" data-pjax>
                <span>Tabs</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="toggles.html" data-pjax>
                <span>Toggles</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    
        
        <li class="Tree-item Tree-collection Tree-depth-3" data-behaviour="collection" id="tree-components-collection-03_components">
            <h4 class="Tree-collectionLabel" data-role="toggle">
                <span>03 Components</span>
            </h4>
            <ul class="Tree-collectionItems" data-role="items">
            
            
            
            
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="accordion.html" data-pjax>
                <span>Accordion</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="card_group.html" data-pjax>
                <span>Card Group</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="cards.html" data-pjax>
                <span>Cards</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="carousels.html" data-pjax>
                <span>Carousels</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="features_list.html" data-pjax>
                <span>Features List</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="flyout.html" data-pjax>
                <span>Flyout</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="headers.html" data-pjax>
                <span>Headers</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_quad.html" data-pjax>
                <span>Layout Quad</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="layout_split.html" data-pjax>
                <span>Layout Split</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="media.html" data-pjax>
                <span>Media</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="speech_bubble.html" data-pjax>
                <span>Speech Bubble</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity is-current" data-state="current" data-role="item">
            <a class="Tree-entityLink" href="" data-pjax>
                <span>Tables</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="tooltips.html" data-pjax>
                <span>Tooltips</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="visual_guides.html" data-pjax>
                <span>Visual Guides</span>
                

<div class="Status Status--unlabelled">

<div class="Status-dots">


<span class="Status-dot" style="border-color: #29CC29;" title="Ready"></span>


</div>

</div>


            </a>
        </li>
        
    

            </ul>
        </li>
        
    

            </ul>
        </li>
        
    

    </ul>
</div>

</div>



    
<div class="Navigation-group">

<div class="Tree" data-behaviour="tree" id="tree-docs">
    <h3 class="Tree-title">documentation</h3>
    <ul class="Tree-items Tree-depth-1">
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../index.html" data-pjax>
                <span>Overview</span>
                
            </a>
        </li>
        
    
        
        
        <li class="Tree-item Tree-entity" data-role="item">
            <a class="Tree-entityLink" href="../../docs/tools.html" data-pjax>
                <span>Tools</span>
                
            </a>
        </li>
        
    

    </ul>
</div>

</div>



    


</nav>

        </div>
    </div>
</div>




<script src="../../themes/mandelbrot/js/mandelbrot.js?cachebust=1.2.0"></script>



</body>
</html>
