%popup-modal {
  position: relative;
  width: 90vw;
  height: 90vh;
  max-width: 900px;
  margin: auto;
  border-radius: $minor-border-radius;
  padding: $base-spacing * 1.5;
  background-color: $panel-primary;
}
// TODO convert to mixin

@mixin close-x {
  position: absolute;
  top: 0;
  right: 0;
  width: $medium-icon-font-size;
  height: $medium-icon-font-size;
  text-align: center;
  color: $grey-dark;
  cursor: pointer;

  &:after {
    content: '\f00d'; // X icon
    font-family: FontAwesome;
    margin-left: 0;
  }

  &:hover, &:active, &:focus {
    color: $grey-demon;
    text-decoration: none;
  }
}

@mixin close-x-overflow {
  width: $close-x-overflow-size;
  height: $close-x-overflow-size;
  border-radius: 50%;
  background-color: $grey-darkest;
  opacity: 1;
  color: white;
  line-height: 0;
  font-size: 16px;
  right: -$close-x-overflow-size / 2;
  top: -$close-x-overflow-size / 2;
}

@mixin sample-product--modal {
  padding: $base-spacing-smallest;
  position: relative;
  overflow: visible !important;

  &--image {
    height: 100%;
    overflow-y: scroll;

    img {
      display: block;
      width: 100%;
    }
  }

  &--link {
    background-color: $grey-darkest;
    opacity: .9;
    text-align: center;
    position: absolute;
    left: $base-spacing-smallest;
    right: $base-spacing-smallest;
    bottom: $base-spacing-smallest;
    padding: $base-spacing-smallest;

    a,
    a:hover,
    a:visited,
    a:focus {
      color: white;
      @include font-style--med-regular;
    }
  }

  @media only screen and (max-width: $small-screen-max) {
    height: 70vw;
  }

  .mfp-close {
    @include close-x-overflow;
  }
}
