

<!-- Start: @button--base -->
<button class="button button--base">Base Button</button><br><br>
<!-- End: @button--base -->

<!-- Start: @button--primary-button -->
<button class="button button--primary">Primary Button</button><br><br>
<!-- End: @button--primary-button -->

<!-- Start: @button--secondary-button -->
<button class="button button--secondary">Secondary Button</button><br><br>
<!-- End: @button--secondary-button -->

<!-- Start: @button--tertiary-button -->
<button class="button button--tertiary">Tertiary Button</button><br><br>
<!-- End: @button--tertiary-button -->

<!-- Start: @button--quarternary-button -->
<button class="button button--quarternary">Quarternary Button</button><br><br>
<!-- End: @button--quarternary-button -->

<!-- Start: @button--quinary-button -->
<button class="button button--quinary">Quinary Button</button><br><br>
<!-- End: @button--quinary-button -->

<!-- Start: @button--small-button -->
<button class="button button--small">Small Button</button><br><br>
<!-- End: @button--small-button -->

<!-- Start: @button--medium-button -->
<button class="button button--medium">Medium Button</button><br><br>
<!-- End: @button--medium-button -->

<!-- Start: @button--large-button -->
<button class="button button--large">Large Button</button><br><br>
<!-- End: @button--large-button -->

<!-- Start: @button--massive-button -->
<button class="button button--massive">Massive Button</button><br><br>
<!-- End: @button--massive-button -->

<!-- Start: @button--negative-button -->
<button class="button button--negative">Negative Button</button><br><br>
<!-- End: @button--negative-button -->

<!-- Start: @button--disabled-button -->
<button class="button button--disabled">Disabled Button</button><br><br>
<!-- End: @button--disabled-button -->

