

<!-- Start: @colors--anchor-blue -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #182642"></div>
$anchor-blue <br>
#182642 </div> 
<!-- End: @colors--anchor-blue -->

<!-- Start: @colors--anchor-blue-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #747d8e"></div>
$anchor-blue-light <br>
#747d8e </div> 
<!-- End: @colors--anchor-blue-light -->

<!-- Start: @colors--azure-blue -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #287ab9"></div>
$azure-blue <br>
#287ab9 </div> 
<!-- End: @colors--azure-blue -->

<!-- Start: @colors--azure-blue-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #1e5c8b"></div>
$azure-blue-dark <br>
#1e5c8b </div> 
<!-- End: @colors--azure-blue-dark -->

<!-- Start: @colors--azure-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #7eafd5"></div>
$azure-light <br>
#7eafd5 </div> 
<!-- End: @colors--azure-light -->

<!-- Start: @colors--emerald -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #009b74"></div>
$emerald <br>
#009b74 </div> 
<!-- End: @colors--emerald -->

<!-- Start: @colors--emerald-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #007457"></div>
$emerald-dark <br>
#007457 </div> 
<!-- End: @colors--emerald-dark -->

<!-- Start: @colors--emerald-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #66c3ac"></div>
$emerald-light <br>
#66c3ac </div> 
<!-- End: @colors--emerald-light -->

<!-- Start: @colors--marigold -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #fcb716"></div>
$marigold <br>
#fcb716 </div> 
<!-- End: @colors--marigold -->

<!-- Start: @colors--marigold-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #f79c25"></div>
$marigold-dark <br>
#f79c25 </div> 
<!-- End: @colors--marigold-dark -->

<!-- Start: @colors--marigold-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #fed473"></div>
$marigold-light <br>
#fed473 </div> 
<!-- End: @colors--marigold-light -->

<!-- Start: @colors--grey-darkest -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #333"></div>
$grey-darkest <br>
#333 </div> 
<!-- End: @colors--grey-darkest -->

<!-- Start: @colors--grey-demon -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #666"></div>
$grey-demon <br>
#666 </div> 
<!-- End: @colors--grey-demon -->

<!-- Start: @colors--grey-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #999999"></div>
$grey-dark <br>
#999999 </div> 
<!-- End: @colors--grey-dark -->

<!-- Start: @colors--grey-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #BBBBBB"></div>
$grey-light <br>
#BBBBBB </div> 
<!-- End: @colors--grey-light -->

<!-- Start: @colors--grey-lighter -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #d8d8d8"></div>
$grey-lighter <br>
#d8d8d8 </div> 
<!-- End: @colors--grey-lighter -->

<!-- Start: @colors--grey-lightest -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #F4F4F4"></div>
$grey-lightest <br>
#F4F4F4 </div> 
<!-- End: @colors--grey-lightest -->

<!-- Start: @colors--sky-blue -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #0097d1"></div>
$sky-blue <br>
#0097d1 </div> 
<!-- End: @colors--sky-blue -->

<!-- Start: @colors--sky-blue-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #0a7aaa"></div>
$sky-blue-dark <br>
#0a7aaa </div> 
<!-- End: @colors--sky-blue-dark -->

<!-- Start: @colors--sky-blue-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #6bc6e9"></div>
$sky-blue-light <br>
#6bc6e9 </div> 
<!-- End: @colors--sky-blue-light -->

<!-- Start: @colors--teal -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #63c0b9"></div>
$teal <br>
#63c0b9 </div> 
<!-- End: @colors--teal -->

<!-- Start: @colors--teal-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #54a1a1"></div>
$teal-dark <br>
#54a1a1 </div> 
<!-- End: @colors--teal-dark -->

<!-- Start: @colors--teal-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #a1d9d5"></div>
$teal-light <br>
#a1d9d5 </div> 
<!-- End: @colors--teal-light -->

<!-- Start: @colors--aqua -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #0195a3"></div>
$aqua <br>
#0195a3 </div> 
<!-- End: @colors--aqua -->

<!-- Start: @colors--aqua-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #006064"></div>
$aqua-dark <br>
#006064 </div> 
<!-- End: @colors--aqua-dark -->

<!-- Start: @colors--aqua-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #50c5cd"></div>
$aqua-light <br>
#50c5cd </div> 
<!-- End: @colors--aqua-light -->

<!-- Start: @colors--lime -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #85ce3f"></div>
$lime <br>
#85ce3f </div> 
<!-- End: @colors--lime -->

<!-- Start: @colors--lime-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #66a52a"></div>
$lime-dark <br>
#66a52a </div> 
<!-- End: @colors--lime-dark -->

<!-- Start: @colors--lime-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #b6e28c"></div>
$lime-light <br>
#b6e28c </div> 
<!-- End: @colors--lime-light -->

<!-- Start: @colors--orange -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #e78523"></div>
$orange <br>
#e78523 </div> 
<!-- End: @colors--orange -->

<!-- Start: @colors--orange-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #be7229"></div>
$orange-dark <br>
#be7229 </div> 
<!-- End: @colors--orange-dark -->

<!-- Start: @colors--orange-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #f1b67b"></div>
$orange-light <br>
#f1b67b </div> 
<!-- End: @colors--orange-light -->

<!-- Start: @colors--purple -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #662d91"></div>
$purple <br>
#662d91 </div> 
<!-- End: @colors--purple -->

<!-- Start: @colors--purple-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #311b92"></div>
$purple-dark <br>
#311b92 </div> 
<!-- End: @colors--purple-dark -->

<!-- Start: @colors--purple-medium -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #673ab7"></div>
$purple-medium <br>
#673ab7 </div> 
<!-- End: @colors--purple-medium -->

<!-- Start: @colors--purple-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #b389ff"></div>
$purple-light <br>
#b389ff </div> 
<!-- End: @colors--purple-light -->

<!-- Start: @colors--red -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #DD2C00"></div>
$red <br>
#DD2C00 </div> 
<!-- End: @colors--red -->

<!-- Start: @colors--cb-gradient-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #0A3A68"></div>
$cb-gradient-dark <br>
#0A3A68 </div> 
<!-- End: @colors--cb-gradient-dark -->

<!-- Start: @colors--cb-gradient-medium -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #0E759E"></div>
$cb-gradient-medium <br>
#0E759E </div> 
<!-- End: @colors--cb-gradient-medium -->

<!-- Start: @colors--cb-gradient-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #58A9A2"></div>
$cb-gradient-light <br>
#58A9A2 </div> 
<!-- End: @colors--cb-gradient-light -->

<!-- Start: @colors--dayaftertomorrow-dark -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: white"></div>
$dayAfterTomorrow-dark <br>
white </div> 
<!-- End: @colors--dayaftertomorrow-dark -->

<!-- Start: @colors--dayaftertomorrow-medium -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #f0f0f0"></div>
$dayAfterTomorrow-medium <br>
#f0f0f0 </div> 
<!-- End: @colors--dayaftertomorrow-medium -->

<!-- Start: @colors--dayaftertomorrow-light -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div style="height: 100px; background-color: #f0f0f0"></div>
$dayAfterTomorrow-light <br>
#f0f0f0 </div> 
<!-- End: @colors--dayaftertomorrow-light -->

