

<!-- Start: @headings--headinghero -->
 <header class="heading--hero">
  <h1 class="heading--hero__heading">Heading Hero</h1>
  <p class="heading--hero__subheading">Lorem ipsum dolor</p>
</header> <br><hr><br> 
<!-- End: @headings--headinghero -->

<!-- Start: @headings--headingheroxl -->
 <header class="heading--hero--xl">
  <h1 class="heading--hero--xl__heading">Heading Hero XL</h1>
  <p class="heading--hero--xl__subheading">Lorem ipsum dolor</p>
</header> <br><hr><br> 
<!-- End: @headings--headingheroxl -->

<!-- Start: @headings--headingsection -->
 <header class="heading--section">
  <h1 class="heading--section__heading">Heading - Section</h1>
  <p class="heading--section__subheading">Lorem ipsum dolor</p>
</header> <br><hr><br> 
<!-- End: @headings--headingsection -->

<!-- Start: @headings--headingsectionsmall -->
 <header class="heading--section--small">
  <h1 class="heading--section--small__heading">Heading - Section - Small</h1>
  <p class="heading--section--small__subheading">Lorem ipsum dolor</p>
</header> <br><hr><br> 
<!-- End: @headings--headingsectionsmall -->

<!-- Start: @headings--headingsectionwsubhead -->
 <header class="heading--section--w-subhead">
  <h1 class="heading--section--w-subhead__heading">Heading - Section w Subhead</h1>
  <p class="heading--section--w-subhead__subheading">Lorem ipsum dolor</p>
</header> <br><hr><br> 
<!-- End: @headings--headingsectionwsubhead -->

<!-- Start: @headings--headingitem -->
 <header class="heading--item">
  <h1 class="heading--item__heading">Heading Item</h1>
  <p class="heading--item__subheading">Lorem ipsum dolor</p>
</header> <br><hr><br> 
<!-- End: @headings--headingitem -->

<!-- Start: @headings--headingsmall -->
 <header class="heading--small">
  <h1 class="heading--small__heading">Heading Small</h1>
  <p class="heading--small__subheading">Lorem ipsum dolor</p>
</header> <br><hr><br> 
<!-- End: @headings--headingsmall -->

