// Content
@mixin features-list-content {
  &__heading {
		@include display(flex);
		@include align-items(center);
		@include heading--item;

		@media screen and (max-width: $_quad-layout-breakpoint) {
			flex-direction: column;
		}
	}

	&__img {
    position: absolute;
    top: 2px;
    left: $base-spacing-xlarge / 2;
    transform: translateX(-50%);
    width: 4em; // ~44px
    height: 4em; // ~44px

    @media screen and (max-width: $_quad-layout-breakpoint) {
      position: static;
      margin-bottom: $base-spacing-small;
      transform: translateX(0);
    }
	}

	&__text {
 		@media screen and (max-width: $_quad-layout-breakpoint) {
      text-align: center;
    }
	}
}
