$_quad-layout-breakpoint: 50em;
$_quad-layout-breakpoint--min: calc(#{$_quad-layout-breakpoint} + 1px);

@mixin quad-layout {
  // used for content configured in sets of 2x2 (small biz benefits, why-cb difference)
  // markup is a list element with li's in multiples of 4
  @include display(flex);
  @include flex-wrap(wrap);
  @include align-content(stretch);
  padding: 0;

  @media only screen and (max-width: $_quad-layout-breakpoint) {
    @include flex-direction(column);
    @include flex-wrap(nowrap);
  }

  li {
    width: 50%;
    position: relative;
    padding: 0 $base-spacing-xxlarge-small 2.5rem;
    list-style: none;

    @media only screen and (max-width: $_quad-layout-breakpoint) {
      width: 100%;
    }
  }
}

@mixin quad-layout-short {
	@include quad-layout;
	justify-content: space-between;

	li {
		width: calc(50% - (#{$base-spacing-medium} / 2));
		padding-right: 0;

		@media screen and (max-width: $_quad-layout-breakpoint) {
      width: 100%;
			padding-left: 0;
		}
	}
}
