<ul class="quad-layout">
  <li>
    <h3>Longevity</h3>
    <p>With as much as we’ve learned in the talent marketplace over the last two decades, we’ve been helping companies hire, find and manage the best people longer than anyone else in the game.</p>
  </li>
  <li>
    <h3>Right-size Offerings</h3>
    <p>Our comprehensive range of offerings allow us to respond to our customer’s specific needs with flexibility and cost-effective solutions, whether it’s for a 10-person business, a regional chain or an enterprise organization with 10,000+ employees.</p>
  </li>
  <li>
    <h3>Passion</h3>
    <p>Customer success, to us, is defined by satisfaction of service and clear return on investment. Our teams across the globe help customers identify challenges and opportunities to be more strategic – and happy  –  in their HCM decisions.</p>
  </li>
  <li>
    <h3>Knowledge and Data</h3>
    <p>We have over 21 billion occupation-related data points, over 150 million workforce profiles for US workers, and over 1 million compensation and career path data points that we can utilize to help power your recruitment or talent management programs.</p>
  </li>
</ul>
