.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
}

.image-grid__item {
  display: table;
  width: $image-grid-block;
  height: $image-grid-block;
  margin: 2em; // not $base-spacing; forcing enough white space to keep max 4 items per row

  @media only screen and (max-width: $small-screen-max){
    width: $image-grid-block / 2;
    height: $image-grid-block / 2;
    margin: $base-spacing / 2;
  }
}

.image-grid__image-wrap {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.image-grid__image-wrap img {
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
