fieldset { // #pardot-form p
  display: block;
  margin-bottom: $form-fieldset-margin;
  border: 0;
}

label {
  margin: 0;
  font-weight: $form-label-font-weight;
  color: $text-color-dark;
}

form h2,
form p {
  margin-bottom: $base-margin;
}

#{$all-text-inputs},
select,
.select {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: $base-margin;
  border: $form-border;
  border-radius: $form-border-radius;
  padding: $form-input-vertical-padding $form-input-horizontal-padding;
  box-shadow: $form-input-box-shadow;
  background-color: $form-background-color;
  color: $form-input-color;
  font-family: $form-font-family;
  font-size: $form-input-font-size;
  font-weight: $form-input-font-weight;
  cursor: pointer;

  @include placeholder {
    color: $form-placeholder-color;
    font-style: normal;
  }
}

.radio-group {
  display: flex;
  flex-direction: row;

  input[type="radio"] {
    display: block;
    width: 5%;
  }

  label {
    @include font-style--med-regular;

    display: block !important;
    text-transform: none !important;
    width: 95%;
  }
}

.submit-group {
  display: flex;
  flex-direction: row;
}

.select {
  @include transition($base-transition);
  user-select: none;
  position: relative;
  text-align: right;
  outline: 0;
  padding-right: 0;

  .current {
    margin-right: calc(#{$select-arrow-width} + #{$form-input-horizontal-padding});
  }

  &.open ul {
    opacity: 1;
    pointer-events: auto;
    @include transform(scale(1) translateY(1px));
    width: 100%;
    box-shadow: $form-input-box-shadow;
    box-sizing: border-box;
  }

  ul {
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    @include transform-origin(50% 0);
    @include transform(scale(0.75) translateY(-21px));
    @include transition(all 0.2s cubic-bezier(0.5, 0, 0, 1.25), opacity 0.15s ease-out);
    z-index: 1;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    max-height: 47.25vh;
    overflow-y: scroll;
    border: 1px solid $sky-blue;
    border-top: 0;


    li {
      list-style-type: none;
      padding: $form-input-vertical-padding $form-input-horizontal-padding;
      padding-right: calc(#{$select-arrow-width} + #{$form-input-horizontal-padding});
    }

    li:last-child {
      border-bottom: 1px solid $sky-blue;
    }

    li:hover,
    li:focus,
    li.focus
    li.selected:focus,
    li.selected.focus {
      background-color: $sky-blue;
      color: white;
    }
  }
}

input[type='submit'],
form button {
  width: 100%;
}


// Full-width field

.fieldset--large {
  @include display(flex);
  @include flex-wrap(nowrap);
  @include align-items(stretch);

  & #{$all-text-inputs},
  & select,
  & .select {
    @include flex-grow(1);
    @include flex-shrink(1);
    @include flex-basis(auto);
    width: 100%;
    margin-bottom: 0;

    @media only screen and (min-width: $small-screen-max) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__button.button {
    box-shadow: $form-input-box-shadow;
    width: auto;
    @include flex-grow(0);
    @include flex-shrink(0);
    @include flex-basis(auto);

    @media only screen and (min-width: $small-screen-max) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding-top: 0;
      padding-bottom: 0;
    }

    @media only screen and (max-width: $small-screen-max) {
      min-width: 50%;
      margin-top: $base-margin;
    }
  }

  @media only screen and (max-width: $small-screen-max) {
    @include flex-wrap(wrap);
    @include flex-direction(column);
    @include align-items(flex-start);
  }
}

.autocomplete-dropdown {
  @include autocomplete-dropdown;
}

// Demo Form Layouts
.horizontal-flip {
  flex-direction: row-reverse;
}

.vertical-stack {
  flex-direction: column;
}

.vertical-stack--inverse {
  flex-direction: column-reverse;
}

// Demo Form Inline Fields
.inline-fields-row {
  display: flex;
  flex-flow: row nowrap;
}
.inline-field-item {
  width: 50%;
  margin: 0 6px;

  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.radio-collection {
  display: flex;
  justify-content: space-around;
}
