// Mobile breakpoints
// Breakpoints used by Zurb Foundation
// Zurb has breakpoints for XL and XXL, not used here.
$small-screen-max: 40em; // (640px)
$medium-screen-min: $small-screen-max;
$medium-screen-max: 64em; // (1024px)
$large-screen-min: $medium-screen-max;

// Nav breakpoints
$midrange-nav-max: 71.875em; // (1150px) Point at which full nav no longer fits in one line
$mobile-nav-max: 60.75em; // (972px) Point at which full nav + collapsed right-side nav no longer fit in one line
