// Color Definitions

// CB Main Branding Colors
$anchor-blue: #182642;
$anchor-blue-light:  #747D8E;

$sky-blue: #09A0DB;
$sky-blue-light: #39B3E1;
$sky-blue-dark: #0F6E9E;

$lime: #85CE3F;
$lime-light: #9DD865;
$lime-dark: #6FAC40;

$marigold: #FDB816;
$marigold-light: #FED473;
$marigold-dark: #F79C25;

$emerald: #009B74;

// CB Secondary and Accent Colors
$red: #DD4D39;
$orange: #E78523;
$teal: #63C0B9;
$purple: #662d91;

$azure-two: #1280A1;
$azure-blue: #287AB9;
$azure-three: #00A1DE;

// CB Gradient
$gradient-dark: #0A3A68;
$gradient-medium: #0E759E;
$gradient-light: #58A9A2;

// Basic Colors
$black: #000000;
$white: #FFFFFF;

$grey-darkest: lighten($black, 20); // #333
$grey-darker: lighten($grey-darkest, 20); /// #666
$grey-demon: $grey-darker;
$grey-dark: #999999;
$grey-semi-dark: #BBBBBB;
$grey-semi-darker: #b0b0b0; // Possibly not part of official style guide
$grey: #CCCCCC;
$grey-light: #DDDDDD;
$grey-lighter: #EEEEEE;
$grey-lightest: #F4F4F4;


// Color Usage

// Product Branding

$brand-color--candidate-marketplace: $marigold;
$brand-color--sourcing-technologies: $lime;
$brand-color--recruitment-software: $azure-blue;
$brand-color--recruitment-analytics: $emerald;

// Font
$body-text-color: $anchor-blue;
$paragraph-text-color: $grey-darker;
$header-text-color: $anchor-blue;
$base-accent-color: $emerald;
$hero-text-color: $white;

// Links
$base-link-color: $sky-blue;
$hover-link-color: $sky-blue-light;
$visited-link-color: $purple;

// Backgrounds
$base-background-color: $grey-lightest;
$panel-primary: $white;
$panel-secondary: $grey-lighter;
$table-alt-row: #ceebe3; // TODO not a style guide color. need to determine right color(s) and move table styles to style-base

// Alerts
$alert-primary: $sky-blue;
$alert-primary-active: $sky-blue-light;
$alert-danger: $red;
$alert-warning: $marigold;
$alert-success: $lime;

// Header/Footer
$header-mobile-icon-color: $anchor-blue;
$header-mobile-text-hover-color: $white;
$header-text-color: $anchor-blue;
$header-background-color: $white;
$header-background-secondary-color: $grey-lighter;
$header-flyout-color: $header-background-color;
$header-subtitle-color: $grey-darker;
$footer-background-color: $anchor-blue;
// $footer-accent-color: $header-accent-color;
// $footer-text-color: $white;
// $footer-link-color: $white;

// Buttons
$base-button-color: $lime;
$base-button-text-color: $white;
$base-button-border-color: $base-button-color;
$base-hover-button-color: $lime-light;
$base-hover-button-text-color: $base-button-text-color;
$base-hover-button-border-color: $base-hover-button-color;
$base-active-button-color: $base-hover-button-color;
$base-active-button-text-color: $base-button-text-color;
$base-active-button-border-color: $base-active-button-color;

$primary-button-color: $base-button-color;
$primary-button-text-color: $base-button-text-color;
$primary-button-border-color: $primary-button-color;
$primary-hover-button-color: $base-hover-button-color;
$primary-hover-button-text-color: $primary-button-text-color;
$primary-hover-button-border-color: $primary-hover-button-color;
$primary-active-button-color: $primary-hover-button-color;
$primary-active-button-text-color: $primary-button-text-color;
$primary-active-button-border-color: $primary-active-button-color;

$secondary-button-color: $sky-blue;
$secondary-button-text-color: $white;
$secondary-button-border-color: $secondary-button-color;
$secondary-hover-button-color: $sky-blue-light;
$secondary-hover-button-text-color: $secondary-button-text-color;
$secondary-hover-button-border-color: $secondary-hover-button-color;
$secondary-active-button-color: $secondary-hover-button-color;
$secondary-active-button-text-color: $secondary-hover-button-text-color;
$secondary-active-button-border-color: $secondary-active-button-color;

$tertiary-button-color: transparent;
$tertiary-button-text-color: $sky-blue;
$tertiary-button-border-color: $tertiary-button-text-color;
$tertiary-hover-button-color: $sky-blue-light;
$tertiary-hover-button-text-color: $white;
$tertiary-hover-button-border-color: $tertiary-hover-button-color;
$tertiary-active-button-color: $tertiary-hover-button-color;
$tertiary-active-button-text-color: $tertiary-hover-button-text-color;
$tertiary-active-button-border-color: $tertiary-active-button-color;

$tertiary-inverse-button-color: transparent;
$tertiary-inverse-button-text-color: $white;
$tertiary-inverse-button-border-color: $tertiary-inverse-button-text-color;
$tertiary-inverse-hover-button-color: $tertiary-inverse-button-border-color;
$tertiary-inverse-hover-button-text-color: $sky-blue;
$tertiary-inverse-hover-button-border-color: $tertiary-inverse-hover-button-color;
$tertiary-inverse-active-button-color: $tertiary-inverse-hover-button-color;
$tertiary-inverse-active-button-text-color: $tertiary-inverse-hover-button-text-color;
$tertiary-inverse-active-button-border-color: $tertiary-inverse-active-button-color;

$negative-button-color: $grey-dark;
$negative-button-text-color: $white;
$negative-button-border-color: $negative-button-color;
$negative-hover-button-color: $grey;
$negative-hover-button-text-color: $negative-button-text-color;
$negative-hover-button-border-color: $grey-dark;
$negative-active-button-color: $negative-hover-button-color;
$negative-active-button-text-color: $negative-hover-button-text-color;
$negative-active-button-border-color: $negative-hover-button-border-color;

// Tabs
$active-tab-color: $anchor-blue;
$inactive-tab-color: $anchor-blue-light;

// Carousel
$active-carousel-button-color: $grey-darker;
$inactive-carousel-button-color: $grey;
$inactive-carousel-button-opacity: 1;
$active-carousel-button-opacity: 1;
$inverse-active-carousel-button-color: $grey-lighter;
$inverse-inactive-carousel-button-color: $grey-lighter;
$inverse-inactive-carousel-button-opacity: 0.35;
$inverse-active-carousel-button-opacity: 1;

// Border
$base-border-primary-color: $grey-light;
$base-border: 1px solid $base-border-primary-color;

// Forms
$form-border-color: $grey;
$form-border: 1px solid $form-border-color;
$form-border-color-hover: darken($base-border-primary-color, 10);
$form-border-color-focus: $alert-primary;

$form-background-color: $white;
$form-input-color: $body-text-color;
$form-placeholder-color: $grey-semi-dark;

// Tables
$table-row-divider-color: $grey-semi-darker;
$table-header-background-color: $grey;

$table-row-dark: $grey-light;
$table-row-light: $grey-lightest;
$table-column-heading-1: $emerald;
$table-column-heading-2: $azure-blue;
$table-column-heading-3: $azure-three;
