// Basic Colors
$black: #000000;
$white: #FFFFFF;
$blue: #477DCA;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;

$grey-darkest: lighten($black, 20);
$grey-darker: lighten($grey-darkest, 20);
$grey-dark: lighten($grey-darker, 20);
$grey-light: #BBBBBB;
$grey-lighter: #CCCCCC;
$grey-lightest: #EEEEEE;

// Primary Palette (Anchor Blue)
$primary: #182642;

// Secondary Palette (Emerald Green)
$secondary: #379F86;
$secondary-light: #00BD8D;
$secondary-dark: #005C45;

// Secondary Palette (Azure Blue)
$tertiary: #287AB9;

// Accent (Sky Blue)
$accent: #09A0DB;
$accent-light: #0FB4F5;
$accent-dark: #06739D;

// Success Accent
$accent-success: #6EA23D;
$accent-success-light: #B7D19E;
$accent-success-dark: #37511E;

// Warning Accent
$accent-warning: #FBC500;
$accent-warning-light: #FDE280;
$accent-warning-dark: #7d6200;

// Danger Accent
$accent-danger: #FF3C30;
$accent-danger-light: #FF9E98;
$accent-danger-dark: #7F1E18;

// Active Accent
$accent-active: #179FCA;

// Backgrounds
$base-background-color: #f5f6f7;
$panel-primary: $white;
$panel-secondary: #F9F9F9;

// Font
$body-text-color: $grey-darkest;
$header-text-color: $primary;
$base-accent-color: $accent-active;

// Link
$base-link-color: $accent;
$hover-link-color: $accent-light;

// Border
$base-border-color: $grey-light;
$base-border: 2px solid $base-border-color;

// Header/Footer
$header-background-color: $primary;
$header-accent-color: $accent;
$footer-background-color: $primary;
$footer-accent-color: $header-accent-color;
$footer-text-color: $white;
$footer-link-color: $white;

// Buttons
$base-button-color: $base-link-color;
$base-button-text-color: $white;
$base-button-border-color: $base-button-color;
$base-hover-button-color: $hover-link-color;
$base-hover-button-text-color: $base-button-text-color;
$base-hover-button-border-color: $base-hover-button-color;
$base-active-button-color: $accent-dark;
$base-active-button-text-color: $base-button-text-color;
$base-active-button-border-color: $base-active-button-color;

$primary-button-color: $base-button-color;
$primary-button-text-color: $base-button-text-color;
$primary-button-border-color: $primary-button-color;
$primary-hover-button-color: $base-hover-button-color;
$primary-hover-button-text-color: $base-hover-button-text-color;
$primary-hover-button-border-color: $primary-hover-button-color;
$primary-active-button-color: $base-active-button-color;
$primary-active-button-text-color: $base-active-button-text-color;
$primary-active-button-border-color: $primary-active-button-color;

$primary-inverse-button-color: transparent;
$primary-inverse-button-text-color: $primary-button-color;
$primary-inverse-button-border-color: $primary-button-color;
$primary-inverse-hover-button-color: $primary-button-color;
$primary-inverse-hover-button-text-color: $primary-hover-button-text-color;
$primary-inverse-hover-button-border-color: $primary-hover-button-color;
$primary-inverse-active-button-color: $primary-button-color;
$primary-inverse-active-button-text-color: $primary-active-button-text-color;
$primary-inverse-active-button-border-color: $primary-active-button-color;

$secondary-button-color: $secondary;
$secondary-button-text-color: $white;
$secondary-button-border-color: $secondary-button-color;
$secondary-hover-button-color: $secondary-light;
$secondary-hover-button-text-color: $secondary-button-text-color;
$secondary-hover-button-border-color: $secondary-hover-button-color;
$secondary-active-button-color: $secondary-dark;
$secondary-active-button-text-color: $secondary-button-text-color;
$secondary-active-button-border-color: $secondary-active-button-color;

$secondary-inverse-button-color: transparent;
$secondary-inverse-button-text-color: $white;
$secondary-inverse-button-border-color: $white;
$secondary-inverse-hover-button-color: $white;
$secondary-inverse-hover-button-text-color: $secondary-hover-button-text-color;
$secondary-inverse-hover-button-border-color: $secondary-hover-button-color;
$secondary-inverse-active-button-color: $white;
$secondary-inverse-active-button-text-color: $secondary-active-button-text-color;
$secondary-inverse-active-button-border-color: $secondary-active-button-color;

$auxillary-button-color: $accent;
$auxillary-button-text-color: $auxillary-button-color;
$auxillary-button-border-color: $auxillary-button-color;
$auxillary-hover-button-color: $auxillary-button-color;
$auxillary-hover-button-text-color: $auxillary-hover-button-color;
$auxillary-hover-button-border-color: $auxillary-hover-button-color;
$auxillary-active-button-color: #0888BA;
$auxillary-active-button-text-color: $white;
$auxillary-active-button-border-color: $auxillary-active-button-color;

$auxillary-inverse-button-color: $accent;
$auxillary-inverse-button-text-color: $white;
$auxillary-inverse-button-border-color: $white;
$auxillary-inverse-hover-button-color: $auxillary-inverse-button-color;
$auxillary-inverse-hover-button-text-color: $auxillary-inverse-hover-button-color;
$auxillary-inverse-hover-button-border-color: $auxillary-inverse-hover-button-color;
$auxillary-inverse-active-button-color: #0888BA;
$auxillary-inverse-active-button-text-color: $white;
$auxillary-inverse-active-button-border-color: $auxillary-inverse-active-button-color;

$negative-button-color: #959595;
$negative-button-text-color: $white;
$negative-button-border-color: $negative-button-color;
$negative-hover-button-color: #B5B5B5;
$negative-hover-button-text-color: $negative-button-text-color;
$negative-hover-button-border-color: $negative-hover-button-color;
$negative-active-button-color: #757575;
$negative-active-button-text-color: $negative-button-text-color;
$negative-active-button-border-color: $negative-active-button-color;

// Form
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
