@mixin heading--hero {
  h1 {
    margin-bottom: 0;
  }

  p {
    @include font-style--med-small-light;
    margin-top: $type-margin-large;
  }
}

@mixin heading--hero--xl {
  h1 {
    @include font-style--med-bold-uppercase;
    line-height: normal;
    margin-bottom: 0;
  }

  p {
    @include font-style-xl-bold-responsive;
    line-height: normal;
    margin-top: $type-margin;
  }
}

@mixin heading--section {
  &__heading {
    @include font-style-xl-bold-responsive;
    @include base-heading-copy;
  }

  p {
    color: $text-color-grey;
  }
}

@mixin heading--section--small {
  @include font-style-xl-bold-responsive;
  color: $header-text-color;
}

@mixin heading--section--w-subhead {
  margin-bottom: $type-margin-super;

  @media only screen and (max-width: $small-screen-max) {
    margin-bottom: $type-margin-xlarge + 10;
  }

  &__heading {
    @include font-style--med-bold-uppercase;
    color: $header-text-color-grey;
    margin-bottom: $type-margin;
    letter-spacing: $letter-spacing-small;
    margin-bottom: $type-margin;
  }

  &__subheading {
    margin-bottom: $type-margin;
    @include font-style-xl-bold-responsive;
    color: $header-text-color;
    text-transform: uppercase;
    font-family: $barlow;
  }
}

@mixin heading--item {
  @include font-style--med-bold;
  margin-bottom: $type-margin--small;
  color: $header-text-color;
  font-size: $font-size-med-small;

  @include reset-paragraph;
}

@mixin heading--small {
  h1 {
    @include font-style-xl-bold-responsive;
    margin-bottom: 0;
  }

  p {
    @include font-style--large-regular;
    margin-top: $type-margin;
  }
}
