@mixin heading--hero {
  h1 {
    @include font-style--xxl-bold;
    margin-bottom: 0;
  }

  p {
    @include font-style--large-bold;
    margin-top: $type-margin-large;
  }
}

@mixin heading--hero--xl {
  h1 {
    @include font-style--med-bold-uppercase;
    line-height: normal;
    margin-bottom: 0;
  }

  p {
    @include font-style--xl-bold;
    line-height: normal;
    margin-top: $type-margin;
  }
}

@mixin heading--section {
  margin-bottom: $type-margin;

  &__heading {
    @include font-style--xl-bold;
    @include base-heading-copy;
  }

  p {
    color: $text-color-grey;
  }
}

@mixin heading--section--small {
  @include font-style--xl-bold;
  color: $header-text-color;
}

@mixin heading--section--w-subhead {
  margin-bottom: $type-margin-xlarge;

  &__heading {
    @include font-style--med-bold-uppercase;
    color: $header-text-color-grey;
    margin-bottom: $type-margin;
    letter-spacing: $letter-spacing-small;
    margin-bottom: $type-margin;
  }

  &__subheading {
    margin-bottom: $type-margin;
    @include font-style--xl-bold;
    color: $header-text-color;
  }
}

@mixin heading--item {
  @include font-style--med-bold;
  margin-bottom: $type-margin--small;
  color: $header-text-color;
  font-size: $font-size-med-small;

  @include reset-paragraph;
}

@mixin heading--small {
  h1 {
    @include font-style--xxl-light;
    margin-bottom: 0;
  }

  p {
    @include font-style--large-regular;
    margin-top: $type-margin;
  }
}
