<h2>Component Box</h2>
<div class="component-box" style="width: 300px; height: 500px">A component box</div>

<h2>Item Bar List</h2>
<ul class="item-bar__list">
  <li class="item-bar__list-item">List Item 1</li>
  <li class="item-bar__list-item">List Item 2</li>
  <li class="item-bar__list-item">List Item 3</li>
  <li class="item-bar__list-item">List Item 4</li>
  <li class="item-bar__list-item">List Item 5</li>
</ul>
