@mixin tabs($tabs) {
  &__tab-list {
    display: flex;
    width: 100%;
    border: $base-border;
  }

  &__tab {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: calc((1 / #{$tabs}) * 100%);
    justify-content: center;
    align-items: center;
    @include font-style--small-bold-uppercase;
    border-right: $base-border;
    padding: $base-spacing-small;
    list-style-type: none;
    text-align: center;
    color: $text-color-grey-light;
    cursor: pointer;

    &:last-child {
      border: 0;
    }

    &--selected {
      color: white;
    }
  }
}
