<form>
  <h2>Form Headline</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

  <fieldset>
    <label>Label
      <input type="text">
    </label>

    <select>
      <option value="2">2 Jobs - $390 per Job</option>
      <option selected value="3">3 Jobs - $390 per Job</option>
      <option value="4">4 Jobs - $350 per Job</option>
    </select>
  </fieldset>

  <input type="submit">
</form>

<h2>Fieldset Large</h2>
<form>
  <label for="form">Email</label>
  <div class="fieldset--large">
    <input class="fieldset--large__input" id="form" name="form" placeholder="Your Email Address" required type="email">
    <button accesskey="s" class="button button--secondary button--medium fieldset--large__button" type="submit">Subscribe</button>
  </div>
</form>
