<div class="small-strip" style="width: 200px; height: 100px"></div>

<div class="column-flag">A Column Flag</div>

<div id="return-to-top" style="display: block;">
  <i class="fa fa-angle-up"></i>
</div>
