// Top Bar
$top-bar--height: 56px;
$top-bar--height-combined: 56px * 2;
$top-bar--height--mobile: 42px;
$top-bar--logo-width: 192px;
$top-bar--logo-height: 20px;
$top-bar-font-size: $font-size-small;
$top-bar-icon-size: 0.75rem; // 12px
$top-bar-angle-size: 1rem; // 16px
