<button>Default Button</button>
<a class="button">Link Button</a>
<button class="button button--primary">Primary Button</button>
<button class="button button--secondary">Secondary Button</button>
<button class="button button--tertiary">Tertiary Button</button>
<button class="button button--quarternary">Quarternary Button</button>
<button class="button button--quinary">Quinary Button</button>
<button class="button button--text">Text Button</button>
<button class="button button--negative">Negative Button</button>
<button class="button button--small">Small Button</button>
<button class="button button--medium">Medium Button</button>
<button class="button button--large">Large Button</button>
<button class="button button--massive">Massive Button</button>
<button class="button disabled">Disabled Button</button>
