@mixin half-text-half-image($background-image-url, $background-position...) {
  background-image: url($background-image-url);
  background-position: $background-position;
  background-size: calc(50% - #{$base-spacing});
  background-repeat: no-repeat;

  @media only screen and (max-width: $medium-screen-max) {
    background-image: none;
  }

  &__text {
    padding-right: 50%;

    @media only screen and (max-width: $small-screen-max) {
      padding-right: 0;
    }
  }
}

@mixin text-image-panels($image-url, $overlay-gradient: null, $image-side: 'left') {
  &__wrap {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__panel {
    width: 50%;

    @media only screen and (max-width: $small-screen-max) {
      width: 100%;
    }
  }

  &__panel--image {

    @if $image-side == 'right' {
      order: 2;
    } @else {
      order: 1;
    }

    @if $overlay-gradient == null {
      background-image: url(asset_path($image-url));
    } @else {
      @include imageGradientBlend(asset_path($image-url), map-get($overlay-gradient, dark), map-get($overlay-gradient, medium), map-get($overlay-gradient, light), $mode: unset);
    }

    background-attachment: unset;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media only screen and (max-width: $small-screen-max) {
      order: 1;
      height: 200px;
    }
  }

  &__panel--content {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $base-spacing-xlarge;

    @media only screen and (max-width: $small-screen-max) {
      padding: $section-padding--mobile $base-spacing-medium;
    }
  }
}

@mixin text-image-panels-content {
  [class$='__heading'] {
    @include font-style--xl-light;
    width: 50%;
    margin-bottom: $base-spacing;

    @media only screen and (max-width: $small-screen-max) {
      width: 100%;
      text-align: center;
    }
  }

  [class$='__button'] {
    @media only screen and (max-width: $small-screen-max) {
      width: 100%;
    }
  }
}
