

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/employer_style_base.css">
    <title>Preview Layout</title>
</head>
<body class="employer-scope">

<!-- Start: @flashes--primary -->
<p class="flash-primary">This is a primary flash message.</p><br><br>
<!-- End: @flashes--primary -->

<!-- Start: @flashes--success -->
<p class="flash-success">This is a success flash message.</p><br><br>
<!-- End: @flashes--success -->

<!-- Start: @flashes--warning -->
<p class="flash-warning">This is a warning flash message.</p><br><br>
<!-- End: @flashes--warning -->

<!-- Start: @flashes--danger -->
<p class="flash-danger">This is a danger flash message.</p><br><br>
<!-- End: @flashes--danger -->


</body>
</html>

