

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/employer_style_base.css">
    <title>Preview Layout</title>
</head>
<body class="employer-scope">

<div style="display: flex; flex-wrap: wrap">
  <!-- Start: @gradients--cb -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="cbGradient" style="height: 100px;"></div>
CareerBuilder Brand </div> 
<!-- End: @gradients--cb -->

<!-- Start: @gradients--rogueone -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="rogueOneGradient" style="height: 100px;"></div>
Rogue One </div> 
<!-- End: @gradients--rogueone -->

<!-- Start: @gradients--cloverfield -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="cloverfieldGradient" style="height: 100px;"></div>
Cloverfield </div> 
<!-- End: @gradients--cloverfield -->

<!-- Start: @gradients--gobletoffire -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="gobletOfFireGradient" style="height: 100px;"></div>
Goblet Of Fire </div> 
<!-- End: @gradients--gobletoffire -->

<!-- Start: @gradients--soylentgreen -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="soylentGreenGradient" style="height: 100px;"></div>
Soylent Green </div> 
<!-- End: @gradients--soylentgreen -->

<!-- Start: @gradients--purplerain -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="purpleRainGradient" style="height: 100px;"></div>
Purple Rain </div> 
<!-- End: @gradients--purplerain -->

<!-- Start: @gradients--dayaftertomorrow -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="dayAfterTomorrowGradient" style="height: 100px;"></div>
Day After Tomorrow </div> 
<!-- End: @gradients--dayaftertomorrow -->

<!-- Start: @gradients--moonlight -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="moonlightGradient" style="height: 100px;"></div>
Moonlight </div> 
<!-- End: @gradients--moonlight -->

<!-- Start: @gradients--lostworld -->
 <div style='border: 1px solid grey; width: 200px; margin: 20px'> <div class="lostWorldGradient" style="height: 100px;"></div>
Lost World </div> 
<!-- End: @gradients--lostworld -->

</div>

</body>
</html>

