

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link media="all" rel="stylesheet" href="../../css/employer_style_base.css">
    <title>Preview Layout</title>
</head>
<body class="employer-scope">

<div class="text-image-panels--full-bleed-image">
  <section class="text-image-panels--full-bleed-image__wrap">
    <div class="text-image-panels--full-bleed-image__panel text-image-panels--full-bleed-image__panel--image"></div>
    <div class="text-image-panels--full-bleed-image__panel text-image-panels--full-bleed-image__panel--content text-image-panels-content">
        <h2 class="text-image-panels--full-bleed-image__heading employer-section__header__heading">About CareerBuilder</h2>
        <p>Learn more about CareerBuilder’s mission, our people who make it possible and how you can view our current job opportunities and join the CB team.</p>
        <a href="#" class="button button--tertiary text-image-panels--full-bleed-image__button">Read More About CareerBuilder</a>
    </div>
  </section>
</div>


</body>
</html>

